<dec f='linux-5.3.1/drivers/ata/ahci.h' l='291' type='struct timer_list'/>
<offset>64</offset>
<use f='linux-5.3.1/drivers/ata/libahci.c' l='969' u='a' c='ahci_sw_activity'/>
<use f='linux-5.3.1/drivers/ata/libahci.c' l='970' u='a' c='ahci_sw_activity'/>
<use f='linux-5.3.1/drivers/ata/libahci.c' l='975' u='r' c='ahci_sw_activity_blink'/>
<use f='linux-5.3.1/drivers/ata/libahci.c' l='1006' u='a' c='ahci_sw_activity_blink'/>
<use f='linux-5.3.1/drivers/ata/libahci.c' l='1026' u='a' c='ahci_init_sw_activity'/>
