<dec f='linux-5.3.1/include/linux/alarmtimer.h' l='43' type='struct hrtimer'/>
<offset>256</offset>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='199' u='r' c='alarmtimer_fired'/>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='214' u='a' c='alarmtimer_fired'/>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='330' u='m' c='__alarm_init'/>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='345' u='a' c='alarm_init'/>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='364' u='a' c='alarm_start'/>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='391' u='a' c='alarm_restart'/>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='392' u='a' c='alarm_restart'/>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='412' u='a' c='alarm_try_to_cancel'/>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='725' u='a' c='alarmtimer_do_nsleep'/>
<use f='linux-5.3.1/kernel/time/alarmtimer.c' l='752' u='a' c='alarm_init_on_stack'/>
