<dec f='linux-5.3.1/block/blk-stat.h' l='28' type='struct timer_list'/>
<use f='linux-5.3.1/block/blk-stat.h' l='131' u='a' c='blk_stat_is_active'/>
<use f='linux-5.3.1/block/blk-stat.h' l='145' u='a' c='blk_stat_activate_nsecs'/>
<use f='linux-5.3.1/block/blk-stat.h' l='150' u='a' c='blk_stat_deactivate'/>
<use f='linux-5.3.1/block/blk-stat.h' l='164' u='a' c='blk_stat_activate_msecs'/>
<offset>128</offset>
<doc f='linux-5.3.1/block/blk-stat.h' l='25'>/**
	 * @timer: Timer for the next callback invocation.
	 */</doc>
<use f='linux-5.3.1/block/blk-stat.c' l='81' u='r' c='blk_stat_timer_fn'/>
<use f='linux-5.3.1/block/blk-stat.c' l='130' u='a' c='blk_stat_alloc_callback'/>
<use f='linux-5.3.1/block/blk-stat.c' l='164' u='a' c='blk_stat_remove_callback'/>
