<dec f='linux-5.3.1/include/net/codel.h' l='107' type='codel_time_t'/>
<offset>0</offset>
<use f='linux-5.3.1/net/mac80211/sta_info.c' l='479' u='w' c='sta_info_alloc'/>
<use f='linux-5.3.1/net/mac80211/sta_info.c' l='2469' u='w' c='sta_update_codel_params'/>
<use f='linux-5.3.1/net/mac80211/sta_info.c' l='2473' u='w' c='sta_update_codel_params'/>
<use f='linux-5.3.1/include/net/codel_impl.h' l='55' u='w' c='codel_params_init'/>
<use f='linux-5.3.1/include/net/codel_impl.h' l='124' c='codel_should_drop'/>
<use f='linux-5.3.1/include/net/codel_impl.h' l='124' u='r' c='codel_should_drop'/>
<use f='linux-5.3.1/net/mac80211/tx.c' l='1553' u='w' c='ieee80211_txq_setup_flows'/>
