<dec f='linux-5.3.1/include/linux/cpufreq.h' l='149' type='struct cpufreq_policy *'/>
<offset>0</offset>
<use f='linux-5.3.1/arch/x86/kernel/tsc.c' l='1000' u='r' c='time_cpufreq_notifier'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq.c' l='346' u='w' c='cpufreq_notify_transition'/>
