<dec f='linux-5.3.1/include/linux/cpufreq.h' l='70' type='unsigned int'/>
<offset>576</offset>
<doc f='linux-5.3.1/include/linux/cpufreq.h' l='70'>/* see above */</doc>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq.c' l='620' u='w' c='cpufreq_parse_policy'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq.c' l='624' u='w' c='cpufreq_parse_policy'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq.c' l='749' u='r' c='show_scaling_governor'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq.c' l='751' u='r' c='show_scaling_governor'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq.c' l='1072' u='w' c='cpufreq_init_policy'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq.c' l='1544' u='r' c='cpufreq_offline'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq.c' l='2416' u='w' c='cpufreq_set_policy'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq.c' l='2416' u='r' c='cpufreq_set_policy'/>
<use f='linux-5.3.1/drivers/cpufreq/intel_pstate.c' l='2067' u='r' c='intel_pstate_set_policy'/>
<use f='linux-5.3.1/drivers/cpufreq/intel_pstate.c' l='2120' u='r' c='intel_pstate_verify_policy'/>
<use f='linux-5.3.1/drivers/cpufreq/intel_pstate.c' l='2121' u='r' c='intel_pstate_verify_policy'/>
<use f='linux-5.3.1/drivers/cpufreq/intel_pstate.c' l='2205' u='w' c='intel_pstate_cpu_init'/>
<use f='linux-5.3.1/drivers/cpufreq/intel_pstate.c' l='2207' u='w' c='intel_pstate_cpu_init'/>
