<dec f='linux-5.3.1/drivers/gpu/drm/i915/i915_drv.h' l='1420' type='struct intel_overlay *'/>
<offset>164864</offset>
<doc f='linux-5.3.1/drivers/gpu/drm/i915/i915_drv.h' l='1419'>/* overlay */</doc>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_overlay.c' l='482' u='r' c='intel_overlay_reset'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_overlay.c' l='1072' u='r' c='intel_overlay_put_image_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_overlay.c' l='1238' u='r' c='intel_overlay_attrs_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_overlay.c' l='1384' u='w' c='intel_overlay_setup'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_overlay.c' l='1396' u='a' c='intel_overlay_cleanup'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_overlay.c' l='1396' u='a' c='intel_overlay_cleanup'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_overlay.c' l='1396' u='a' c='intel_overlay_cleanup'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_overlay.c' l='1396' u='a' c='intel_overlay_cleanup'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_overlay.c' l='1424' u='r' c='intel_overlay_capture_error_state'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_drv.c' l='363' u='r' c='i915_getparam_ioctl'/>
