<dec f='linux-5.3.1/include/linux/platform_data/dsa.h' l='22' type='struct device *[12]'/>
<offset>128</offset>
<doc f='linux-5.3.1/include/linux/platform_data/dsa.h' l='19'>/*
	 * Reference to network devices
	 */</doc>
