<dec f='linux-5.3.1/arch/x86/events/perf_event.h' l='129' type='u64'/>
<offset>64</offset>
<doc f='linux-5.3.1/arch/x86/events/perf_event.h' l='129'>/* extra MSR config */</doc>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2664' u='r' c='__intel_shared_reg_get_constraints'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2690' u='w' c='__intel_shared_reg_get_constraints'/>
<use f='linux-5.3.1/arch/x86/events/intel/lbr.c' l='170' u='r' c='__intel_pmu_lbr_enable'/>
<use f='linux-5.3.1/arch/x86/events/intel/lbr.c' l='583' u='r' c='intel_pmu_lbr_read_64'/>
<use f='linux-5.3.1/arch/x86/events/intel/lbr.c' l='584' u='r' c='intel_pmu_lbr_read_64'/>
