<dec f='linux-5.3.1/include/net/fib_rules.h' l='93' type='const struct nla_policy *'/>
<offset>1024</offset>
<use f='linux-5.3.1/net/core/fib_rules.c' l='747' u='r' c='fib_nl_newrule'/>
<use f='linux-5.3.1/net/core/fib_rules.c' l='855' u='r' c='fib_nl_delrule'/>
<use f='linux-5.3.1/net/ipv4/fib_rules.c' l='383' u='w'/>
