<dec f='linux-5.3.1/include/net/flow_offload.h' l='178' type='struct (anonymous struct at /home/woboq/linux-5.3.1/./include/net/flow_offload.h:173:3)'/>
<offset>0</offset>
<doc f='linux-5.3.1/include/net/flow_offload.h' l='173'>/* FLOW_ACTION_SAMPLE */</doc>
<use f='linux-5.3.1/net/sched/cls_api.c' l='3258' u='m' c='tc_setup_flow_action'/>
<use f='linux-5.3.1/net/sched/cls_api.c' l='3260' u='m' c='tc_setup_flow_action'/>
<use f='linux-5.3.1/net/sched/cls_api.c' l='3261' u='m' c='tc_setup_flow_action'/>
<use f='linux-5.3.1/net/sched/cls_api.c' l='3262' u='m' c='tc_setup_flow_action'/>
