<dec f='linux-5.3.1/include/net/genetlink.h' l='60' type='const struct nla_policy *'/>
<offset>320</offset>
<use f='linux-5.3.1/net/ipv4/tcp_metrics.c' l='961' u='w'/>
<use f='linux-5.3.1/net/ipv6/seg6.c' l='427' u='w'/>
<use f='linux-5.3.1/net/netlabel/netlabel_calipso.c' l='343' u='w'/>
<use f='linux-5.3.1/net/netlabel/netlabel_cipso_v4.c' l='763' u='w'/>
<use f='linux-5.3.1/net/netlabel/netlabel_mgmt.c' l='824' u='w'/>
<use f='linux-5.3.1/net/netlabel/netlabel_unlabeled.c' l='1367' u='w'/>
<use f='linux-5.3.1/net/netlink/genetlink.c' l='554' u='r' c='genl_family_rcv_msg'/>
<use f='linux-5.3.1/net/netlink/genetlink.c' l='608' u='r' c='genl_family_rcv_msg'/>
<use f='linux-5.3.1/net/netlink/genetlink.c' l='708' u='r' c='ctrl_fill_info'/>
<use f='linux-5.3.1/net/netlink/genetlink.c' l='988' u='w'/>
<use f='linux-5.3.1/net/wireless/nl80211.c' l='14555' u='w'/>
