<dec f='linux-5.3.1/drivers/gpu/drm/i915/intel_guc_fwif.h' l='410' type='struct guc_policy [4][5]'/>
<offset>0</offset>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_guc_ads.c' l='55' u='a' c='guc_policies_init'/>
