<dec f='linux-5.3.1/include/sound/hda_codec.h' l='383' type='unsigned char'/>
<offset>24</offset>
<doc f='linux-5.3.1/include/sound/hda_codec.h' l='383'>/* target pin control value */</doc>
<use f='linux-5.3.1/sound/pci/hda/hda_codec.c' l='572' u='w' c='snd_hda_codec_set_pin_target'/>
<use f='linux-5.3.1/sound/pci/hda/hda_codec.c' l='589' u='r' c='snd_hda_codec_get_pin_target'/>
