<dec f='linux-5.3.1/include/linux/hrtimer.h' l='125' type='struct hrtimer'/>
<offset>0</offset>
<use f='linux-5.3.1/block/blk-mq.c' l='3414' u='a' c='blk_mq_poll_hybrid_sleep'/>
<use f='linux-5.3.1/block/blk-mq.c' l='3415' u='a' c='blk_mq_poll_hybrid_sleep'/>
<use f='linux-5.3.1/block/blk-mq.c' l='3422' u='a' c='blk_mq_poll_hybrid_sleep'/>
<use f='linux-5.3.1/block/blk-mq.c' l='3425' u='a' c='blk_mq_poll_hybrid_sleep'/>
<use f='linux-5.3.1/block/blk-mq.c' l='3430' u='a' c='blk_mq_poll_hybrid_sleep'/>
<use f='linux-5.3.1/fs/aio.c' l='1293' macro='1' u='a' c='read_events'/>
<use f='linux-5.3.1/fs/aio.c' l='1293' macro='1' u='a' c='read_events'/>
<use f='linux-5.3.1/fs/aio.c' l='1293' macro='1' u='a' c='read_events'/>
<use f='linux-5.3.1/fs/aio.c' l='1293' macro='1' u='a' c='read_events'/>
<use f='linux-5.3.1/kernel/futex.c' l='490' u='a' c='futex_setup_timer'/>
<use f='linux-5.3.1/kernel/futex.c' l='499' u='a' c='futex_setup_timer'/>
<use f='linux-5.3.1/kernel/futex.c' l='2616' u='a' c='futex_wait_queue_me'/>
<use f='linux-5.3.1/kernel/futex.c' l='2769' u='a' c='futex_wait'/>
<use f='linux-5.3.1/kernel/futex.c' l='2770' u='a' c='futex_wait'/>
<use f='linux-5.3.1/kernel/futex.c' l='2902' u='a' c='futex_lock_pi'/>
<use f='linux-5.3.1/kernel/futex.c' l='2959' u='a' c='futex_lock_pi'/>
<use f='linux-5.3.1/kernel/futex.c' l='2960' u='a' c='futex_lock_pi'/>
<use f='linux-5.3.1/kernel/futex.c' l='3370' u='a' c='futex_wait_requeue_pi'/>
<use f='linux-5.3.1/kernel/futex.c' l='3371' u='a' c='futex_wait_requeue_pi'/>
<use f='linux-5.3.1/kernel/locking/rtmutex.c' l='1262' u='a' c='rt_mutex_slowlock'/>
<use f='linux-5.3.1/kernel/locking/rtmutex.c' l='1286' u='a' c='rt_mutex_slowlock'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1632' u='r' c='hrtimer_wakeup'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1644' u='m' c='hrtimer_init_sleeper'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1676' u='a' c='do_nanosleep'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1681' u='a' c='do_nanosleep'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1693' u='a' c='do_nanosleep'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1710' u='a' c='hrtimer_nanosleep_restart'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1712' u='a' c='hrtimer_nanosleep_restart'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1715' u='a' c='hrtimer_nanosleep_restart'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1731' u='a' c='hrtimer_nanosleep'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1732' u='a' c='hrtimer_nanosleep'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1745' u='m' c='hrtimer_nanosleep'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1746' u='a' c='hrtimer_nanosleep'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1748' u='a' c='hrtimer_nanosleep'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1930' u='a' c='schedule_hrtimeout_range_clock'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1931' u='a' c='schedule_hrtimeout_range_clock'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1935' u='a' c='schedule_hrtimeout_range_clock'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1940' u='a' c='schedule_hrtimeout_range_clock'/>
<use f='linux-5.3.1/kernel/time/hrtimer.c' l='1941' u='a' c='schedule_hrtimeout_range_clock'/>
