<dec f='linux-5.3.1/drivers/dma/hsu/hsu.h' l='89' type='struct dma_slave_config'/>
<use f='linux-5.3.1/drivers/dma/hsu/hsu.c' l='56' u='a' c='hsu_dma_chan_start'/>
<use f='linux-5.3.1/drivers/dma/hsu/hsu.c' l='348' u='a' c='hsu_dma_slave_config'/>
<use f='linux-5.3.1/drivers/dma/hsu/hsu.c' l='348' u='r' c='hsu_dma_slave_config'/>
<offset>1920</offset>
