<dec f='linux-5.3.1/include/linux/hugetlb.h' l='277' type='struct shared_policy'/>
<offset>0</offset>
<use f='linux-5.3.1/fs/hugetlbfs/inode.c' l='96' u='a' c='hugetlb_set_vma_policy'/>
<use f='linux-5.3.1/fs/hugetlbfs/inode.c' l='1053' u='a' c='hugetlbfs_alloc_inode'/>
<use f='linux-5.3.1/fs/hugetlbfs/inode.c' l='1066' u='a' c='hugetlbfs_destroy_inode'/>
