<dec f='linux-5.3.1/include/linux/perf_event.h' l='171' type='struct task_struct *'/>
<offset>768</offset>
<doc f='linux-5.3.1/include/linux/perf_event.h' l='167'>/*
	 * If the event is a per task event, this will point to the task in
	 * question. See the comment in perf_event_alloc().
	 */</doc>
<use f='linux-5.3.1/kernel/events/core.c' l='3946' u='r' c='perf_event_read_local'/>
<use f='linux-5.3.1/kernel/events/core.c' l='4478' u='r' c='_free_event'/>
<use f='linux-5.3.1/kernel/events/core.c' l='4479' u='r' c='_free_event'/>
<use f='linux-5.3.1/kernel/events/core.c' l='10359' u='w' c='perf_event_alloc'/>
<use f='linux-5.3.1/kernel/events/core.c' l='10488' u='r' c='perf_event_alloc'/>
<use f='linux-5.3.1/kernel/events/core.c' l='10489' u='r' c='perf_event_alloc'/>
<use f='linux-5.3.1/kernel/events/hw_breakpoint.c' l='107' u='r' c='task_bp_pinned'/>
<use f='linux-5.3.1/kernel/events/hw_breakpoint.c' l='112' u='r' c='task_bp_pinned'/>
<use f='linux-5.3.1/kernel/events/hw_breakpoint.c' l='144' u='r' c='fetch_bp_busy_slots'/>
<use f='linux-5.3.1/kernel/events/hw_breakpoint.c' l='201' u='r' c='toggle_bp_slot'/>
<use f='linux-5.3.1/kernel/trace/trace_uprobe.c' l='1034' u='r' c='__uprobe_perf_filter'/>
<use f='linux-5.3.1/kernel/trace/trace_uprobe.c' l='1044' u='r' c='uprobe_filter_event'/>
<use f='linux-5.3.1/kernel/trace/trace_uprobe.c' l='1052' u='r' c='uprobe_perf_close'/>
<use f='linux-5.3.1/kernel/trace/trace_uprobe.c' l='1055' u='r' c='uprobe_perf_close'/>
<use f='linux-5.3.1/kernel/trace/trace_uprobe.c' l='1075' u='r' c='uprobe_perf_open'/>
