<dec f='linux-5.3.1/include/linux/perf_event.h' l='125' type='u64'/>
<offset>0</offset>
<use f='linux-5.3.1/arch/x86/events/perf_event.h' l='828' u='r' c='__x86_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/perf_event.h' l='843' u='r' c='x86_pmu_disable_event'/>
<use f='linux-5.3.1/arch/x86/events/perf_event.h' l='914' u='r' c='intel_pmu_has_bts_period'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='310' u='w' c='amd_core_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='313' u='w' c='amd_core_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='315' u='w' c='amd_core_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='325' u='r' c='amd_get_event_code'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='325' u='r' c='amd_get_event_code'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='330' u='r' c='amd_is_nb_event'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='356' u='w' c='amd_pmu_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='804' u='r' c='amd_get_event_constraints_f15h'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='806' u='r' c='amd_get_event_constraints_f15h'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='810' u='r' c='amd_get_event_constraints_f15h'/>
<use f='linux-5.3.1/arch/x86/events/amd/core.c' l='835' u='r' c='amd_get_event_constraints_f15h'/>
<use f='linux-5.3.1/arch/x86/events/amd/ibs.c' l='311' u='w' c='perf_ibs_init'/>
<use f='linux-5.3.1/arch/x86/events/amd/ibs.c' l='366' u='r' c='perf_ibs_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/amd/uncore.c' l='109' u='r' c='amd_uncore_start'/>
<use f='linux-5.3.1/arch/x86/events/amd/uncore.c' l='117' u='r' c='amd_uncore_stop'/>
<use f='linux-5.3.1/arch/x86/events/amd/uncore.c' l='202' u='w' c='amd_uncore_event_init'/>
<use f='linux-5.3.1/arch/x86/events/amd/uncore.c' l='218' u='w' c='amd_uncore_event_init'/>
<use f='linux-5.3.1/arch/x86/events/core.c' l='331' u='w' c='set_ext_hw_attr'/>
<use f='linux-5.3.1/arch/x86/events/core.c' l='441' u='w' c='x86_setup_perfctr'/>
<use f='linux-5.3.1/arch/x86/events/core.c' l='544' u='w' c='x86_pmu_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/core.c' l='550' u='w' c='x86_pmu_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/core.c' l='552' u='w' c='x86_pmu_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/core.c' l='555' u='w' c='x86_pmu_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='1982' u='r' c='__intel_pmu_enable_all'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2145' u='r' c='event_is_checkpointed'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2205' u='r' c='intel_pmu_enable_fixed'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2207' u='r' c='intel_pmu_enable_fixed'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2213' u='r' c='intel_pmu_enable_fixed'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2239' u='r' c='intel_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2621' u='w' c='intel_fixup_er'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2622' u='w' c='intel_fixup_er'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2625' u='w' c='intel_fixup_er'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2626' u='w' c='intel_fixup_er'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='2771' u='r' c='x86_get_event_constraints'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3117' u='r' c='intel_pebs_aliases_core2'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3138' u='r' c='intel_pebs_aliases_core2'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3139' u='w' c='intel_pebs_aliases_core2'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3145' u='r' c='intel_pebs_aliases_snb'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3166' u='r' c='intel_pebs_aliases_snb'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3167' u='w' c='intel_pebs_aliases_snb'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3173' u='r' c='intel_pebs_aliases_precdist'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3190' u='r' c='intel_pebs_aliases_precdist'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3191' u='w' c='intel_pebs_aliases_precdist'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3313' u='w' c='intel_pmu_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3375' u='r' c='core_guest_get_msrs'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3417' u='w' c='hsw_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3424' u='r' c='hsw_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3425' u='r' c='hsw_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3467' u='r' c='hsw_get_event_constraints'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3485' u='r' c='icl_get_event_constraints'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3518' u='r' c='tnt_get_event_constraints'/>
<use f='linux-5.3.1/arch/x86/events/intel/core.c' l='3566' u='r' c='bdw_limit_period'/>
<use f='linux-5.3.1/arch/x86/events/intel/cstate.c' l='339' u='w' c='cstate_pmu_event_init'/>
<use f='linux-5.3.1/arch/x86/events/intel/ds.c' l='881' u='r' c='intel_pebs_constraints'/>
<use f='linux-5.3.1/arch/x86/events/intel/ds.c' l='1072' u='w' c='intel_pmu_pebs_enable'/>
<use f='linux-5.3.1/arch/x86/events/intel/ds.c' l='1082' u='w' c='intel_pmu_pebs_enable'/>
<use f='linux-5.3.1/arch/x86/events/intel/ds.c' l='1137' u='w' c='intel_pmu_pebs_disable'/>
<use f='linux-5.3.1/arch/x86/events/intel/knc.c' l='182' u='r' c='knc_pmu_disable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/knc.c' l='193' u='r' c='knc_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='816' u='w' c='p4_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='820' u='w' c='p4_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='820' u='r' c='p4_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='839' u='w' c='p4_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='846' u='w' c='p4_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='913' u='r' c='p4_pmu_disable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='952' u='r' c='p4_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='953' u='r' c='p4_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='954' u='r' c='p4_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='965' u='r' c='p4_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='972' u='r' c='p4_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='978' u='r' c='p4_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1073' u='r' c='p4_pmu_swap_config_ts'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1081' u='r' c='p4_pmu_swap_config_ts'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1082' u='r' c='p4_pmu_swap_config_ts'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1095' u='w' c='p4_pmu_swap_config_ts'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1096' u='w' c='p4_pmu_swap_config_ts'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1097' u='w' c='p4_pmu_swap_config_ts'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1109' u='w' c='p4_pmu_swap_config_ts'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1110' u='w' c='p4_pmu_swap_config_ts'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1111' u='w' c='p4_pmu_swap_config_ts'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1236' u='r' c='p4_pmu_schedule_events'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1241' u='r' c='p4_pmu_schedule_events'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1253' u='r' c='p4_pmu_schedule_events'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1256' u='w' c='p4_pmu_schedule_events'/>
<use f='linux-5.3.1/arch/x86/events/intel/p4.c' l='1276' u='r' c='p4_pmu_schedule_events'/>
<use f='linux-5.3.1/arch/x86/events/intel/p6.c' l='172' u='r' c='p6_pmu_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='475' u='r' c='pt_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='503' u='w' c='pt_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='513' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='513' u='a' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='513' u='r' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='513' u='a' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='513' u='r' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='523' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='523' u='r' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='523' u='r' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='523' u='a' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='523' u='r' c='pt_config_stop'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='1335' u='r' c='intel_pt_handle_vmx'/>
<use f='linux-5.3.1/arch/x86/events/intel/rapl.c' l='204' u='r' c='rapl_event_update'/>
<use f='linux-5.3.1/arch/x86/events/intel/rapl.c' l='370' u='w' c='rapl_pmu_event_init'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.h' l='307' u='r' c='uncore_freerunning_counter'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.h' l='308' u='r' c='uncore_freerunning_counter'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.h' l='392' u='r' c='uncore_freerunning_bits'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.h' l='400' u='r' c='uncore_num_freerunning'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.h' l='414' u='r' c='check_valid_freerunning_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.h' l='415' u='r' c='check_valid_freerunning_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.c' l='407' u='r' c='uncore_get_event_constraint'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.c' l='750' u='w' c='uncore_pmu_event_init'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.c' l='752' u='w' c='uncore_pmu_event_init'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore.c' l='764' u='w' c='uncore_pmu_event_init'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='252' u='r' c='nhmex_uncore_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='254' u='r' c='nhmex_uncore_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='357' u='r' c='nhmex_bbox_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='359' u='r' c='nhmex_bbox_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='388' u='r' c='nhmex_bbox_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='448' u='r' c='nhmex_sbox_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='474' u='r' c='nhmex_sbox_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='659' u='w' c='nhmex_mbox_alter_er'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='661' u='w' c='nhmex_mbox_alter_er'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='779' u='r' c='nhmex_mbox_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='862' u='r' c='nhmex_mbox_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='952' u='w' c='nhmex_rbox_alter_er'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='955' u='w' c='nhmex_rbox_alter_er'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='1024' u='r' c='nhmex_rbox_get_constraint'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='1028' u='r' c='nhmex_rbox_get_constraint'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='1093' u='r' c='nhmex_rbox_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='1104' u='w' c='nhmex_rbox_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='1135' u='r' c='nhmex_rbox_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='1141' u='r' c='nhmex_rbox_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_nhmex.c' l='1148' u='r' c='nhmex_rbox_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snb.c' l='125' u='r' c='snb_uncore_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snb.c' l='516' u='w' c='snb_uncore_imc_event_init'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snb.c' l='932' u='r' c='nhm_uncore_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='497' u='r' c='snbep_uncore_pci_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='505' u='r' c='snbep_uncore_pci_disable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='562' u='r' c='snbep_uncore_msr_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='570' u='r' c='snbep_uncore_msr_disable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='938' u='r' c='snbep_cbox_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='987' u='w' c='snbep_pcu_alter_er'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='1052' u='r' c='snbep_pcu_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='1110' u='r' c='snbep_qpi_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='1144' u='r' c='snbep_qpi_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='1622' u='r' c='ivbep_cbox_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='1647' u='r' c='ivbep_cbox_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='1743' u='r' c='ivbep_uncore_irp_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='1751' u='r' c='ivbep_uncore_irp_disable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='2050' u='r' c='knl_cha_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='2159' u='r' c='knl_uncore_imc_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='2162' u='r' c='knl_uncore_imc_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='2605' u='r' c='hswep_cbox_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='2631' u='r' c='hswep_cbox_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='2719' u='r' c='hswep_pcu_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='3498' u='r' c='skx_cha_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='3571' u='r' c='skx_iio_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='4093' u='r' c='snr_cha_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='4184' u='r' c='snr_pcu_hw_config'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='4464' u='r' c='snr_uncore_mmio_enable_event'/>
<use f='linux-5.3.1/arch/x86/events/intel/uncore_snbep.c' l='4476' u='r' c='snr_uncore_mmio_disable_event'/>
<use f='linux-5.3.1/arch/x86/events/msr.c' l='202' u='w' c='msr_event_init'/>
