<dec f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.h' l='79' type='struct intel_overlay_error_state *'/>
<offset>8384</offset>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='813' u='r' c='__err_print_to_sgl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='814' u='r' c='__err_print_to_sgl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='981' u='r' c='__i915_gpu_state_free'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='1781' u='w' c='capture'/>
