<dec f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.h' l='55' type='struct i915_address_space *'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.h' l='226' u='r' c='i915_ggtt_pin_bias'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.h' l='254' u='r' c='i915_vma_compare'/>
<offset>1344</offset>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_display.c' l='2179' u='r' c='intel_unpin_fb_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_client_blt.c' l='37' u='r' c='vma_bind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_client_blt.c' l='42' u='r' c='vma_unbind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_domain.c' l='475' u='r' c='i915_gem_object_bump_inactive_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_execbuffer.c' l='1222' u='r' c='__reloc_gpu_alloc'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_tiling.c' l='162' u='r' c='i915_vma_fence_prepare'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_ringbuffer.c' l='1181' u='r' c='intel_ring_pin'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_debugfs.c' l='274' u='r' c='per_file_stats'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_fence_reg.c' l='363' u='r' c='i915_vma_pin_fence'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_fence_reg.c' l='376' u='r' c='i915_vma_pin_fence'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='149' u='r' c='ppgtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='149' u='r' c='ppgtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='160' u='r' c='ppgtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='160' u='r' c='ppgtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='167' u='r' c='ppgtt_unbind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='167' u='r' c='ppgtt_unbind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='1110' u='r' c='gen8_ppgtt_insert_huge_entries'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='1131' u='r' c='gen8_ppgtt_insert_huge_entries'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='1926' u='r' c='gen6_ppgtt_cleanup_work'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='1995' u='r' c='pd_vma_bind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2059' u='w' c='pd_vma_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2071' u='r' c='pd_vma_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2072' u='r' c='pd_vma_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2073' u='r' c='pd_vma_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2612' u='r' c='ggtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2623' u='r' c='ggtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2623' u='r' c='ggtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2639' u='r' c='ggtt_unbind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2643' u='r' c='ggtt_unbind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2643' u='r' c='ggtt_unbind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2650' u='r' c='aliasing_gtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2678' u='r' c='aliasing_gtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2678' u='r' c='aliasing_gtt_bind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2688' u='r' c='aliasing_gtt_unbind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2691' u='r' c='aliasing_gtt_unbind_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='134' u='w' c='vma_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='330' u='r' c='i915_vma_bind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='330' u='r' c='i915_vma_bind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='367' u='r' c='i915_vma_pin_iomap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='369' u='r' c='i915_vma_pin_iomap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='380' u='r' c='i915_vma_pin_iomap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='411' u='r' c='i915_vma_flush_writes'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='418' u='r' c='i915_vma_unpin_iomap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='486' u='r' c='__i915_vma_set_map_and_fenceable'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='511' u='r' c='i915_gem_valid_gtt_space'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='558' u='r' c='i915_vma_insert'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='582' u='r' c='i915_vma_insert'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='624' u='r' c='i915_vma_insert'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='663' u='r' c='i915_vma_insert'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='675' u='r' c='i915_vma_insert'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='676' u='r' c='i915_vma_insert'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='677' u='r' c='i915_vma_insert'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='702' u='r' c='i915_vma_remove'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='704' u='r' c='i915_vma_remove'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='705' u='r' c='i915_vma_remove'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='732' u='r' c='__i915_vma_do_pin'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='773' u='r' c='i915_vma_close'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='797' u='r' c='__i915_vma_remove_closed'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='819' u='r' c='__i915_vma_destroy'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='821' u='r' c='__i915_vma_destroy'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='839' u='r' c='i915_vma_destroy'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='883' u='r' c='i915_vma_revoke_mmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='892' u='r' c='i915_vma_revoke_mmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='971' u='r' c='i915_vma_unbind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='999' u='r' c='i915_vma_unbind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vma.c' l='1039' u='r' c='i915_vma_unbind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_guc_submission.c' l='560' u='r' c='flush_ggtt_writes'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uc_fw.c' l='203' u='w' c='intel_uc_fw_ggtt_bind'/>
