<dec f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.h' l='98' type='struct i915_pmu_sample [4]'/>
<offset>3712</offset>
<doc f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.h' l='90'>/**
	 * @sample: Current and previous (raw) counters for sampling events.
	 *
	 * These counters are updated from the i915 PMU sampling timer.
	 *
	 * Only global counters are held here, while the per-engine ones are in
	 * struct intel_engine_cs.
	 */</doc>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='238' u='a' c='frequency_sample'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='245' u='a' c='frequency_sample'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='465' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='466' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='467' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='469' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='499' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='503' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='505' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='506' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='507' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='509' u='m' c='get_rc6'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='547' u='m' c='__i915_pmu_event_read'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='552' u='m' c='__i915_pmu_event_read'/>
