<dec f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context_types.h' l='91' type='struct i915_address_space *'/>
<offset>512</offset>
<doc f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context_types.h' l='82'>/**
	 * @vm: unique address space (GTT)
	 *
	 * In full-ppgtt mode, each context has its own address space ensuring
	 * complete seperation of one client from all others.
	 *
	 * In other modes, this is a NULL pointer with the expectation that
	 * the caller uses the shared global GTT.
	 */</doc>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_client_blt.c' l='253' u='r' c='i915_gem_schedule_fill_pages_blt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='312' u='r' c='i915_gem_context_free'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='313' u='r' c='i915_gem_context_free'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='478' u='r' c='__set_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='480' u='w' c='__set_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='489' u='r' c='__assign_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='726' u='r' c='gem_context_register'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='727' u='r' c='gem_context_register'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='977' u='r' c='get_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='985' u='r' c='get_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='1022' u='r' c='emit_ppgtt_update'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='1089' u='r' c='set_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='1110' u='r' c='set_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='1131' u='w' c='set_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2032' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2032' u='a' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2032' u='r' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2032' u='a' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2032' u='r' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2054' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2054' u='a' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2054' u='r' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2054' u='a' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2054' u='r' c='clone_vm'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2288' u='r' c='i915_gem_context_getparam_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2289' u='r' c='i915_gem_context_getparam_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_execbuffer.c' l='727' u='r' c='eb_select_context'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_execbuffer.c' l='728' u='r' c='eb_select_context'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_object_blt.c' l='52' u='r' c='i915_gem_object_fill_blt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_userptr.c' l='777' u='r' c='i915_gem_userptr_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_lrc.c' l='1459' u='r' c='__execlists_context_pin'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_lrc.c' l='1573' u='r' c='emit_pdps'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_lrc.c' l='1646' u='r' c='execlists_request_alloc'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_lrc.c' l='2776' u='r' c='execlists_init_reg_state'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_ringbuffer.c' l='1341' u='r' c='__context_pin_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_ringbuffer.c' l='1352' u='r' c='__context_unpin_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_ringbuffer.c' l='1676' u='r' c='switch_context'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_debugfs.c' l='345' u='r' c='print_context_stats'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_debugfs.c' l='345' u='r' c='print_context_stats'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='1192' u='r' c='gen8_init_scratch'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='1193' u='r' c='gen8_init_scratch'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='1439' u='r' c='gem_record_rings'/>
