<dec f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.h' l='381' type='struct i915_address_space'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.h' l='606' u='r' c='i915_vm_to_ggtt'/>
<offset>0</offset>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_client_blt.c' l='253' u='a' c='i915_gem_schedule_fill_pages_blt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_context.c' l='2293' u='m' c='i915_gem_context_getparam_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_domain.c' l='470' u='m' c='i915_gem_object_bump_inactive_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_domain.c' l='477' u='m' c='i915_gem_object_bump_inactive_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_execbuffer.c' l='731' u='a' c='eb_select_context'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_execbuffer.c' l='1026' u='m' c='reloc_cache_reset'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_execbuffer.c' l='1026' u='a' c='reloc_cache_reset'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_execbuffer.c' l='1101' u='m' c='reloc_iomap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_execbuffer.c' l='1122' u='m' c='reloc_iomap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_execbuffer.c' l='1122' u='a' c='reloc_iomap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_object_blt.c' l='52' u='a' c='i915_gem_object_fill_blt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_shrinker.c' l='443' u='m' c='i915_gem_shrinker_vmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_shrinker.c' l='445' u='m' c='i915_gem_shrinker_vmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_shrinker.c' l='445' u='m' c='i915_gem_shrinker_vmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_shrinker.c' l='445' u='m' c='i915_gem_shrinker_vmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_shrinker.c' l='445' u='m' c='i915_gem_shrinker_vmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_shrinker.c' l='451' u='m' c='i915_gem_shrinker_vmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_shrinker.c' l='454' u='m' c='i915_gem_shrinker_vmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_shrinker.c' l='456' u='m' c='i915_gem_shrinker_vmap'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_stolen.c' l='94' macro='1' u='m' c='i915_adjust_stolen'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_stolen.c' l='94' macro='1' u='m' c='i915_adjust_stolen'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_stolen.c' l='663' u='a' c='i915_gem_object_create_stolen_for_preallocated'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_stolen.c' l='674' u='a' c='i915_gem_object_create_stolen_for_preallocated'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_stolen.c' l='688' u='m' c='i915_gem_object_create_stolen_for_preallocated'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_stolen.c' l='689' u='m' c='i915_gem_object_create_stolen_for_preallocated'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gem/i915_gem_stolen.c' l='690' u='m' c='i915_gem_object_create_stolen_for_preallocated'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_engine_cs.c' l='580' u='a' c='init_status_page'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_lrc.c' l='1877' u='a' c='lrc_setup_wa_ctx'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_lrc.c' l='2968' u='a' c='execlists_context_deferred_alloc'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_ringbuffer.c' l='1239' u='a' c='intel_ring_create_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_ringbuffer.c' l='1415' u='a' c='alloc_context_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_workarounds.c' l='1456' u='a' c='engine_wa_list_verify'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='67' u='m' c='insert_mappable_node'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='88' u='m' c='i915_gem_get_aperture_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='90' u='m' c='i915_gem_get_aperture_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='91' u='m' c='i915_gem_get_aperture_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='91' u='m' c='i915_gem_get_aperture_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='91' u='m' c='i915_gem_get_aperture_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='91' u='m' c='i915_gem_get_aperture_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='95' u='m' c='i915_gem_get_aperture_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='97' u='m' c='i915_gem_get_aperture_ioctl'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='434' u='m' c='i915_gem_gtt_pread'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='434' u='a' c='i915_gem_gtt_pread'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='458' u='m' c='i915_gem_gtt_pread'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='458' u='a' c='i915_gem_gtt_pread'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='652' u='m' c='i915_gem_gtt_pwrite_fast'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='652' u='a' c='i915_gem_gtt_pwrite_fast'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='682' u='m' c='i915_gem_gtt_pwrite_fast'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='682' u='a' c='i915_gem_gtt_pwrite_fast'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='1027' u='a' c='i915_gem_object_ggtt_pin'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem.c' l='1459' u='a' c='i915_gem_init_scratch'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_fence_reg.c' l='801' u='m' c='i915_ggtt_init_fences'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2050' u='m' c='pd_vma_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2059' u='a' c='pd_vma_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2151' u='m' c='gen6_ppgtt_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2316' u='m' c='i915_gem_suspend_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2316' u='a' c='i915_gem_suspend_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2316' u='m' c='i915_gem_suspend_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2450' macro='1' u='m' c='gen8_ggtt_clear_range'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2564' macro='1' u='m' c='gen6_ggtt_clear_range'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2766' u='m' c='init_aliasing_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2777' u='m' c='init_aliasing_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2783' u='m' c='init_aliasing_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2784' u='m' c='init_aliasing_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2786' u='m' c='init_aliasing_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2787' u='m' c='init_aliasing_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2807' u='m' c='fini_aliasing_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2808' u='m' c='fini_aliasing_ppgtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2816' u='m' c='ggtt_reserve_guc_top'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2819' u='m' c='ggtt_reserve_guc_top'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2820' u='m' c='ggtt_reserve_guc_top'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2822' u='a' c='ggtt_reserve_guc_top'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2867' u='m' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2884' u='m' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2884' u='m' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2884' u='m' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2884' u='m' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2887' u='m' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2887' u='a' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2892' u='m' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2892' u='a' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2892' u='m' c='i915_gem_init_ggtt'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2919' u='m' c='i915_ggtt_cleanup_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2924' u='m' c='i915_ggtt_cleanup_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2924' u='m' c='i915_ggtt_cleanup_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2924' u='m' c='i915_ggtt_cleanup_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2924' u='m' c='i915_ggtt_cleanup_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2932' u='m' c='i915_ggtt_cleanup_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2934' u='a' c='i915_ggtt_cleanup_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2937' u='m' c='i915_ggtt_cleanup_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2937' u='a' c='i915_ggtt_cleanup_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='2989' u='m' c='ggtt_probe_common'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3013' u='a' c='ggtt_probe_common'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3021' u='m' c='ggtt_probe_common'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3022' u='m' c='ggtt_probe_common'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3022' u='m' c='ggtt_probe_common'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3323' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3347' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3348' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3349' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3350' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3352' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3354' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3359' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3360' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3361' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3362' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3372' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3373' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3374' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3375' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3377' u='m' c='gen8_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3386' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3413' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3415' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3417' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3418' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3419' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3420' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3425' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3427' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3429' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3431' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3433' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3435' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3436' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3437' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3438' u='m' c='gen6_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3450' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3460' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3467' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3468' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3469' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3470' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3474' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3475' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3476' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3477' u='m' c='i915_gmch_probe'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3494' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3495' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3506' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3509' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3510' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3512' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3512' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3512' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3512' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3512' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3512' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3515' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3518' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3519' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3523' u='m' c='i915_ggtt_probe_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3550' u='a' c='i915_ggtt_init_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3552' u='m' c='i915_ggtt_init_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3555' u='m' c='i915_ggtt_init_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3558' u='m' c='i915_ggtt_init_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3583' u='m' c='i915_ggtt_init_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3583' u='a' c='i915_ggtt_init_hw'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3625' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3628' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3628' u='a' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3628' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3629' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3632' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3632' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3632' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3632' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3638' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3653' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3656' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_gtt.c' l='3659' u='m' c='i915_gem_restore_gtt_mappings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gem_render_state.c' l='197' u='a' c='i915_gem_render_state_emit'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='1029' u='m' c='i915_error_object_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='1029' u='a' c='i915_error_object_create'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='1439' u='a' c='gem_record_rings'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='1540' u='a' c='capture_pinned_buffers'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='1759' u='m' c='capture_finish'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_gpu_error.c' l='1759' u='a' c='capture_finish'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_timeline.c' l='48' u='a' c='__hwsp_alloc'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vgpu.c' l='112' u='m' c='vgt_deballoon_space'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vgpu.c' l='148' u='a' c='vgt_balloon_space'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vgpu.c' l='152' u='m' c='vgt_balloon_space'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_vgpu.c' l='204' u='m' c='intel_vgt_balloon'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_guc.c' l='671' u='a' c='intel_guc_allocate_vma'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uc_fw.c' l='203' u='a' c='intel_uc_fw_ggtt_bind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uc_fw.c' l='203' u='a' c='intel_uc_fw_ggtt_bind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uc_fw.c' l='212' u='m' c='intel_uc_fw_ggtt_bind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uc_fw.c' l='212' u='a' c='intel_uc_fw_ggtt_bind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uc_fw.c' l='221' u='m' c='intel_uc_fw_ggtt_unbind'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uc_fw.c' l='221' u='a' c='intel_uc_fw_ggtt_unbind'/>
