<dec f='linux-5.3.1/include/linux/inetdevice.h' l='49' type='struct ipv4_devconf'/>
<use f='linux-5.3.1/include/linux/inetdevice.h' l='60' u='m' c='ipv4_devconf_get'/>
<use f='linux-5.3.1/include/linux/inetdevice.h' l='67' u='m' c='ipv4_devconf_set'/>
<use f='linux-5.3.1/include/linux/inetdevice.h' l='68' u='m' c='ipv4_devconf_set'/>
<use f='linux-5.3.1/include/linux/inetdevice.h' l='73' u='m' c='ipv4_devconf_setall'/>
<offset>1536</offset>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='262' u='a' c='inetdev_init'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='263' u='r' c='inetdev_init'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='264' u='m' c='inetdev_init'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='269' u='m' c='inetdev_init'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='1943' u='m' c='inet_fill_link_af'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='2194' u='a' c='inet_netconf_get_devconf'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='2261' u='a' c='inet_netconf_dump_devconf'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='2316' u='m' c='devinet_copy_dflt_conf'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='2317' u='m' c='devinet_copy_dflt_conf'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='2350' u='a' c='inet_forward_change'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='2363' u='r' c='devinet_conf_ifindex'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='2445' u='r' c='devinet_sysctl_forward'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='2615' u='a' c='devinet_sysctl_register'/>
<use f='linux-5.3.1/net/ipv4/devinet.c' l='2625' u='a' c='devinet_sysctl_unregister'/>
<use f='linux-5.3.1/net/ipv4/ipmr.c' l='463' u='m' c='ipmr_init_vif_indev'/>
<use f='linux-5.3.1/net/ipv4/ipmr.c' l='712' u='m' c='vif_delete'/>
<use f='linux-5.3.1/net/ipv4/ipmr.c' l='715' u='a' c='vif_delete'/>
<use f='linux-5.3.1/net/ipv4/ipmr.c' l='903' u='m' c='vif_add'/>
<use f='linux-5.3.1/net/ipv4/ipmr.c' l='905' u='a' c='vif_add'/>
