<dec f='linux-5.3.1/include/net/if_inet6.h' l='199' type='struct ipv6_devconf'/>
<use f='linux-5.3.1/include/net/ipv6.h' l='450' u='m' c='ipv6_accept_ra'/>
<use f='linux-5.3.1/include/net/ipv6.h' l='450' u='m' c='ipv6_accept_ra'/>
<use f='linux-5.3.1/include/net/ipv6.h' l='451' u='m' c='ipv6_accept_ra'/>
<offset>2240</offset>
<use f='linux-5.3.1/include/net/addrconf.h' l='402' u='m' c='ip6_ignore_linkdown'/>
<use f='linux-5.3.1/include/net/ip6_route.h' l='324' u='m' c='ip6_dst_mtu_forward'/>
<use f='linux-5.3.1/net/core/filter.c' l='4743' u='m' c='bpf_ipv6_fib_lookup'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='381' u='a' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='381' u='r' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='383' u='m' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='384' u='m' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='386' u='m' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='392' u='m' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='416' u='m' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='421' u='m' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='432' u='m' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='459' u='m' c='ipv6_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='672' u='a' c='inet6_netconf_get_devconf'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='743' u='a' c='inet6_netconf_dump_devconf'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='796' u='m' c='dev_forward_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='799' u='m' c='dev_forward_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='813' u='m' c='dev_forward_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='820' u='a' c='dev_forward_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='832' u='m' c='addrconf_forward_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='833' u='m' c='addrconf_forward_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='895' u='m' c='addrconf_linkdown_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='897' u='m' c='addrconf_linkdown_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='903' u='a' c='addrconf_linkdown_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1060' u='m' c='ipv6_add_addr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1095' u='m' c='ipv6_add_addr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1330' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1338' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1339' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1354' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1355' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1361' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1361' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1361' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1361' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1361' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1363' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1363' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1363' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1363' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1363' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1363' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1378' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1378' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1378' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1378' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1378' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1378' u='m' c='ipv6_create_tempaddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1609' u='m' c='ipv6_get_saddr_eval'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='1785' u='m' c='ipv6_dev_get_saddr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2107' u='m' c='addrconf_dad_failure'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2109' u='m' c='addrconf_dad_failure'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2472' u='m' c='addrconf_add_dev'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2507' u='m' c='manage_tempaddrs'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2511' u='m' c='manage_tempaddrs'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2536' u='m' c='manage_tempaddrs'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2551' u='m' c='is_addr_mode_generate_stable'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2552' u='m' c='is_addr_mode_generate_stable'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2566' u='m' c='addrconf_prefix_rcv_add_addr'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='2755' u='m' c='addrconf_prefix_rcv'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3240' u='m' c='ipv6_generate_stable_address'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3241' u='m' c='ipv6_generate_stable_address'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3280' u='m' c='ipv6_gen_mode_random_init'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3284' u='m' c='ipv6_gen_mode_random_init'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3299' u='m' c='addrconf_addr_gen'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3357' u='m' c='addrconf_dev_config'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3358' u='m' c='addrconf_dev_config'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3506' u='m' c='addrconf_notify'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3528' u='m' c='addrconf_notify'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3611' u='m' c='addrconf_notify'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3614' u='m' c='addrconf_notify'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3732' u='m' c='addrconf_ifdown'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3737' u='m' c='addrconf_ifdown'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3825' u='m' c='addrconf_ifdown'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3876' u='m' c='addrconf_rs_timer'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3876' u='m' c='addrconf_rs_timer'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3886' u='m' c='addrconf_rs_timer'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3889' u='m' c='addrconf_rs_timer'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3890' u='m' c='addrconf_rs_timer'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3918' u='m' c='addrconf_dad_kick'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3921' u='m' c='addrconf_dad_kick'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3928' u='m' c='addrconf_dad_kick'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='3951' u='m' c='addrconf_dad_begin'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='4044' u='m' c='addrconf_dad_work'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='4045' u='m' c='addrconf_dad_work'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='4055' u='m' c='addrconf_dad_work'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='4168' u='m' c='addrconf_dad_completed'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='4180' u='m' c='addrconf_dad_completed'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='4183' u='m' c='addrconf_dad_completed'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='4201' u='m' c='addrconf_dad_completed'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='4465' u='m' c='addrconf_verify_rtnl'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='4466' u='m' c='addrconf_verify_rtnl'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='5535' u='a' c='inet6_fill_ifla6_attrs'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='5556' u='m' c='inet6_fill_ifla6_attrs'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='5607' u='m' c='inet6_set_iftoken'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='5637' u='m' c='inet6_set_iftoken'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='5677' u='m' c='check_stable_privacy'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='5734' u='m' c='inet6_set_link_af'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='5974' u='m' c='__ipv6_ifa_notify'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='5982' u='m' c='__ipv6_ifa_notify'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6063' u='m' c='dev_disable_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6077' u='m' c='addrconf_disable_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6078' u='m' c='addrconf_disable_change'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6172' u='a' c='addrconf_sysctl_proxy_ndp'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6215' u='m' c='addrconf_sysctl_addr_gen_mode'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6216' u='m' c='addrconf_sysctl_addr_gen_mode'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6226' u='m' c='addrconf_sysctl_addr_gen_mode'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6227' u='m' c='addrconf_sysctl_addr_gen_mode'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6292' u='m' c='addrconf_sysctl_stable_secret'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6299' u='m' c='addrconf_sysctl_stable_secret'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6892' u='a' c='addrconf_sysctl_register'/>
<use f='linux-5.3.1/net/ipv6/addrconf.c' l='6901' u='a' c='addrconf_sysctl_unregister'/>
<use f='linux-5.3.1/net/ipv6/anycast.c' l='123' u='m' c='ipv6_sock_ac_join'/>
<use f='linux-5.3.1/net/ipv6/exthdrs.c' l='366' u='m' c='ipv6_srh_rcv'/>
<use f='linux-5.3.1/net/ipv6/exthdrs.c' l='367' u='m' c='ipv6_srh_rcv'/>
<use f='linux-5.3.1/net/ipv6/exthdrs.c' l='489' u='m' c='ipv6_rthdr_rcv'/>
<use f='linux-5.3.1/net/ipv6/exthdrs.c' l='490' u='m' c='ipv6_rthdr_rcv'/>
<use f='linux-5.3.1/net/ipv6/ip6_input.c' l='140' u='m' c='ip6_rcv_core'/>
<use f='linux-5.3.1/net/ipv6/ip6_input.c' l='204' u='m' c='ip6_rcv_core'/>
<use f='linux-5.3.1/net/ipv6/ip6_output.c' l='169' u='m' c='ip6_output'/>
<use f='linux-5.3.1/net/ipv6/mcast.c' l='126' u='m' c='unsolicited_report_interval'/>
<use f='linux-5.3.1/net/ipv6/mcast.c' l='128' u='m' c='unsolicited_report_interval'/>
<use f='linux-5.3.1/net/ipv6/mcast.c' l='1175' u='m' c='mld_force_mld_version'/>
<use f='linux-5.3.1/net/ipv6/mcast.c' l='2613' u='m' c='ipv6_mc_destroy_dev'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='400' u='m' c='ndisc_allow_add'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='448' u='m' c='ip6_nd_hdr'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='532' u='m' c='ndisc_send_na'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='588' u='m' c='ndisc_send_unsol_na'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='888' u='m' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='889' u='m' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='912' u='m' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='985' u='m' c='ndisc_recv_na'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1084' u='m' c='ndisc_recv_rs'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1260' u='m' c='ndisc_router_discovery'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1271' u='m' c='ndisc_router_discovery'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1338' u='m' c='ndisc_router_discovery'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1340' u='m' c='ndisc_router_discovery'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1341' u='m' c='ndisc_router_discovery'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1473' u='m' c='ndisc_router_discovery'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1484' u='m' c='ndisc_router_discovery'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1493' u='m' c='ndisc_router_discovery'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1494' u='m' c='ndisc_router_discovery'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1714' u='m' c='ndisc_suppress_frag_ndisc'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1789' u='m' c='ndisc_netdev_event'/>
<use f='linux-5.3.1/net/ipv6/output_core.c' l='138' u='m' c='ip6_dst_hoplimit'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='1568' u='m' c='fib6_mtu'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='1980' u='m' c='rt6_mtu_change_route_allowed'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='3070' u='m' c='ip6_mtu'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='3111' u='m' c='ip6_mtu_from_fib6'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='3112' u='m' c='ip6_mtu_from_fib6'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='3452' u='m' c='fib6_nh_init'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='3975' u='m' c='rt6_do_redirect'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='3975' u='m' c='rt6_do_redirect'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='4227' u='m' c='__rt6_purge_dflt_routers'/>
<use f='linux-5.3.1/net/ipv6/route.c' l='4755' u='m' c='fib6_nh_mtu_change'/>
