<dec f='linux-5.3.1/include/linux/input.h' l='151' type='struct timer_list'/>
<offset>2112</offset>
<use f='linux-5.3.1/drivers/input/input.c' l='75' u='m' c='input_start_autorepeat'/>
<use f='linux-5.3.1/drivers/input/input.c' l='77' u='a' c='input_start_autorepeat'/>
<use f='linux-5.3.1/drivers/input/input.c' l='84' u='a' c='input_stop_autorepeat'/>
<use f='linux-5.3.1/drivers/input/input.c' l='180' u='r' c='input_repeat_key'/>
<use f='linux-5.3.1/drivers/input/input.c' l='195' u='a' c='input_repeat_key'/>
<use f='linux-5.3.1/drivers/input/input.c' l='1791' u='a' c='input_allocate_device'/>
<use f='linux-5.3.1/drivers/input/input.c' l='2023' u='a' c='__input_unregister_device'/>
<use f='linux-5.3.1/drivers/input/input.c' l='2053' u='m' c='input_enable_softrepeat'/>
