<dec f='linux-5.3.1/drivers/gpu/drm/i915/intel_wakeref.h' l='152' type='struct timer_list'/>
<offset>64</offset>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_wakeref.c' l='79' u='r' c='wakeref_auto_timeout'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_wakeref.c' l='96' u='a' c='intel_wakeref_auto_init'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_wakeref.c' l='107' u='a' c='intel_wakeref_auto'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_wakeref.c' l='108' u='a' c='intel_wakeref_auto'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_wakeref.c' l='130' u='a' c='intel_wakeref_auto'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_wakeref.c' l='131' u='a' c='intel_wakeref_auto'/>
