<dec f='linux-5.3.1/drivers/gpu/drm/i915/intel_uncore.h' l='127' type='struct hrtimer'/>
<offset>128</offset>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uncore.c' l='82' u='a' c='fw_domain_arm_timer'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uncore.c' l='346' u='r' c='intel_uncore_fw_release_timer'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uncore.c' l='389' u='a' c='intel_uncore_forcewake_reset'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uncore.c' l='392' u='a' c='intel_uncore_forcewake_reset'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uncore.c' l='398' u='a' c='intel_uncore_forcewake_reset'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uncore.c' l='1316' u='a' c='fw_domain_init'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uncore.c' l='1317' u='m' c='fw_domain_init'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/intel_uncore.c' l='1335' u='a' c='fw_domain_fini'/>
