<dec f='linux-5.3.1/drivers/gpu/drm/i915/i915_drv.h' l='912' type='struct mipi_config *'/>
<offset>64</offset>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/icl_dsi.c' l='1395' u='r' c='icl_dphy_param_init'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/icl_dsi.c' l='1559' u='r' c='icl_dsi_init'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='796' u='r' c='parse_dsi_backlight_ports'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='798' u='r' c='parse_dsi_backlight_ports'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='804' u='r' c='parse_dsi_backlight_ports'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='817' u='r' c='parse_dsi_backlight_ports'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='820' u='r' c='parse_dsi_backlight_ports'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='877' u='w' c='parse_mipi_config'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='878' u='r' c='parse_mipi_config'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='883' u='r' c='parse_mipi_config'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='1120' u='r' c='fixup_mipi_sequences'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='1907' u='r' c='intel_bios_cleanup'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_bios.c' l='1908' u='w' c='intel_bios_cleanup'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/intel_dsi_vbt.c' l='575' u='r' c='intel_dsi_vbt_init'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/vlv_dsi.c' l='1683' u='r' c='vlv_dphy_param_init'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/vlv_dsi.c' l='1907' u='r' c='vlv_dsi_init'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/display/vlv_dsi.c' l='1953' u='r' c='vlv_dsi_init'/>
