<dec f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_engine_types.h' l='370' type='struct i915_pmu_sample [3]'/>
<offset>128</offset>
<doc f='linux-5.3.1/drivers/gpu/drm/i915/gt/intel_engine_types.h' l='363'>/**
		 * @sample: Counter values for sampling events.
		 *
		 * Our internal timer stores the current counters in this field.
		 *
		 * Index number corresponds to @enum drm_i915_pmu_engine_sample.
		 */</doc>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='189' u='a' c='engines_sample'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='191' u='a' c='engines_sample'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='206' u='a' c='engines_sample'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='541' u='m' c='__i915_pmu_event_read'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='620' u='r' c='i915_pmu_enable'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='620' u='r' c='i915_pmu_enable'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='623' u='r' c='i915_pmu_enable'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='623' u='r' c='i915_pmu_enable'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='658' u='r' c='i915_pmu_disable'/>
<use f='linux-5.3.1/drivers/gpu/drm/i915/i915_pmu.c' l='658' u='r' c='i915_pmu_disable'/>
