<dec f='linux-5.3.1/include/pcmcia/ss.h' l='101' type='u_int'/>
<offset>32</offset>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='370' u='w' c='pcmcia_release_configuration'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='371' u='r' c='pcmcia_release_configuration'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='604' u='w' c='pcmcia_enable_device'/>
