<dec f='linux-5.3.1/include/linux/igmp.h' l='82' type='struct timer_list'/>
<offset>512</offset>
<use f='linux-5.3.1/net/ipv4/igmp.c' l='207' u='a' c='igmp_stop_timer'/>
<use f='linux-5.3.1/net/ipv4/igmp.c' l='221' u='a' c='igmp_start_timer'/>
<use f='linux-5.3.1/net/ipv4/igmp.c' l='251' u='a' c='igmp_mod_timer'/>
<use f='linux-5.3.1/net/ipv4/igmp.c' l='252' u='m' c='igmp_mod_timer'/>
<use f='linux-5.3.1/net/ipv4/igmp.c' l='253' u='a' c='igmp_mod_timer'/>
<use f='linux-5.3.1/net/ipv4/igmp.c' l='830' u='r' c='igmp_timer_expire'/>
<use f='linux-5.3.1/net/ipv4/igmp.c' l='1451' u='a' c='____ip_mc_inc_group'/>
<use f='linux-5.3.1/net/ipv4/igmp.c' l='2852' u='m' c='igmp_mc_seq_show'/>
