<dec f='linux-5.3.1/include/linux/jump_label.h' l='124' type='s32'/>
<use f='linux-5.3.1/include/linux/jump_label.h' l='135' u='a' c='jump_entry_target'/>
<use f='linux-5.3.1/include/linux/jump_label.h' l='135' u='r' c='jump_entry_target'/>
<offset>32</offset>
<use f='linux-5.3.1/kernel/jump_label.c' l='71' u='w' c='jump_label_swap'/>
<use f='linux-5.3.1/kernel/jump_label.c' l='71' u='r' c='jump_label_swap'/>
<use f='linux-5.3.1/kernel/jump_label.c' l='75' u='w' c='jump_label_swap'/>
<use f='linux-5.3.1/kernel/jump_label.c' l='75' u='r' c='jump_label_swap'/>
