<dec f='linux-5.3.1/include/linux/module.h' l='293' type='struct module *'/>
<offset>320</offset>
<use f='linux-5.3.1/kernel/module.c' l='850' u='w' c='add_module_usage'/>
<use f='linux-5.3.1/kernel/module.c' l='885' u='r' c='module_unload_free'/>
<use f='linux-5.3.1/kernel/module.c' l='1674' u='r' c='del_usage_links'/>
<use f='linux-5.3.1/kernel/module.c' l='1687' u='r' c='add_usage_links'/>
