<dec f='linux-5.3.1/include/linux/netdevice.h' l='335' type='struct hrtimer'/>
<offset>2112</offset>
<use f='linux-5.3.1/net/core/dev.c' l='6053' u='a' c='napi_complete_done'/>
<use f='linux-5.3.1/net/core/dev.c' l='6248' u='r' c='napi_watchdog'/>
<use f='linux-5.3.1/net/core/dev.c' l='6275' u='a' c='netif_napi_add'/>
<use f='linux-5.3.1/net/core/dev.c' l='6276' u='m' c='netif_napi_add'/>
<use f='linux-5.3.1/net/core/dev.c' l='6304' u='a' c='napi_disable'/>
