<dec f='linux-5.3.1/include/net/ndisc.h' l='81' type='struct in6_addr'/>
<offset>64</offset>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='560' u='w' c='ndisc_send_na'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='631' u='w' c='ndisc_send_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='789' u='a' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='832' u='a' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='875' u='a' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='887' u='a' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='890' u='a' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='915' u='a' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='937' u='a' c='ndisc_recv_ns'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='969' u='a' c='ndisc_recv_na'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1000' u='a' c='ndisc_recv_na'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1023' u='a' c='ndisc_recv_na'/>
<use f='linux-5.3.1/net/ipv6/ndisc.c' l='1039' u='a' c='ndisc_recv_na'/>
