<dec f='linux-5.3.1/include/net/neighbour.h' l='145' type='struct timer_list'/>
<offset>640</offset>
<use f='linux-5.3.1/net/core/neighbour.c' l='262' u='a' c='neigh_add_timer'/>
<use f='linux-5.3.1/net/core/neighbour.c' l='272' u='a' c='neigh_del_timer'/>
<use f='linux-5.3.1/net/core/neighbour.c' l='414' u='a' c='neigh_alloc'/>
<use f='linux-5.3.1/net/core/neighbour.c' l='1022' u='r' c='neigh_timer_handler'/>
<use f='linux-5.3.1/net/core/neighbour.c' l='1089' u='a' c='neigh_timer_handler'/>
