<dec f='linux-5.3.1/net/core/gen_estimator.c' l='58' type='struct timer_list'/>
<use f='linux-5.3.1/net/core/gen_estimator.c' l='78' u='r' c='est_timer'/>
<use f='linux-5.3.1/net/core/gen_estimator.c' l='103' u='a' c='est_timer'/>
<use f='linux-5.3.1/net/core/gen_estimator.c' l='171' u='a' c='gen_new_estimator'/>
<use f='linux-5.3.1/net/core/gen_estimator.c' l='177' u='a' c='gen_new_estimator'/>
<use f='linux-5.3.1/net/core/gen_estimator.c' l='178' u='a' c='gen_new_estimator'/>
<use f='linux-5.3.1/net/core/gen_estimator.c' l='202' u='a' c='gen_kill_estimator'/>
<offset>640</offset>
