<dec f='linux-5.3.1/include/linux/netfilter/nfnetlink.h' l='23' type='const struct nla_policy *'/>
<offset>192</offset>
<doc f='linux-5.3.1/include/linux/netfilter/nfnetlink.h' l='23'>/* netlink attribute policy */</doc>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3517' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3520' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3523' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3526' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3517' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3520' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3523' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3526' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3536' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3539' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3542' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3539' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3536' u='w'/>
<use f='linux-5.3.1/net/netfilter/nf_conntrack_netlink.c' l='3542' u='w'/>
<use f='linux-5.3.1/net/netfilter/nfnetlink.c' l='211' u='r' c='nfnetlink_rcv_msg'/>
<use f='linux-5.3.1/net/netfilter/nfnetlink.c' l='428' u='r' c='nfnetlink_rcv_batch'/>
<use f='linux-5.3.1/net/netfilter/nfnetlink_log.c' l='943' u='w'/>
<use f='linux-5.3.1/net/netfilter/nfnetlink_log.c' l='943' u='w'/>
