<dec f='linux-5.3.1/include/pcmcia/ds.h' l='91' type='struct pcmcia_socket *'/>
<offset>0</offset>
<doc f='linux-5.3.1/include/pcmcia/ds.h' l='89'>/* the socket and the device_no [for multifunction devices]
	   uniquely define a pcmcia_device */</doc>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='242' u='r' c='pcmcia_release_dev'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='265' u='r' c='pcmcia_device_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='276' u='r' c='pcmcia_device_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='304' u='r' c='pcmcia_device_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='368' u='r' c='pcmcia_device_remove'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='369' u='r' c='pcmcia_device_remove'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='371' u='r' c='pcmcia_device_remove'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='414' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='416' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='421' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='424' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='426' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='429' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='441' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='446' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='449' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='454' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='456' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='476' u='r' c='pcmcia_device_query'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='512' u='w' c='pcmcia_device_add'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='521' u='r' c='pcmcia_device_add'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='744' u='r' c='pcmcia_load_firmware'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='849' u='r' c='pcmcia_devmatch'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='850' u='r' c='pcmcia_devmatch'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='851' u='r' c='pcmcia_devmatch'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='864' u='r' c='pcmcia_devmatch'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='873' u='r' c='pcmcia_devmatch'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='875' u='r' c='pcmcia_devmatch'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='886' u='r' c='pcmcia_devmatch'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='953' u='r' c='pcmcia_bus_uevent'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1030' u='r' c='function_show'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1107' u='r' c='allow_func_id_match_store'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1109' u='r' c='allow_func_id_match_store'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1110' u='r' c='allow_func_id_match_store'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1141' u='r' c='pcmcia_dev_suspend'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1143' u='r' c='pcmcia_dev_suspend'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1147' u='r' c='pcmcia_dev_suspend'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1163' u='r' c='pcmcia_dev_suspend'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1165' u='r' c='pcmcia_dev_suspend'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1186' u='r' c='pcmcia_dev_resume'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1188' u='r' c='pcmcia_dev_resume'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1192' u='r' c='pcmcia_dev_resume'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1222' u='r' c='pcmcia_bus_suspend_callback'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1233' u='r' c='pcmcia_bus_resume_callback'/>
<use f='linux-5.3.1/drivers/pcmcia/ds.c' l='1325' u='r' c='pcmcia_dev_present'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_cis.c' l='160' u='r' c='pcmcia_do_loop_config'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_cis.c' l='274' u='r' c='pcmcia_loop_config'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_cis.c' l='329' u='r' c='pcmcia_loop_tuple'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='166' u='r' c='pcmcia_access_config'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='226' u='r' c='pcmcia_map_mem_page'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='255' u='r' c='pcmcia_fixup_iowidth'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='305' u='r' c='pcmcia_fixup_vpp'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='349' u='r' c='pcmcia_release_configuration'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='395' u='r' c='pcmcia_release_io'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='430' u='r' c='pcmcia_release_window'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='484' u='r' c='pcmcia_enable_device'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='628' u='r' c='pcmcia_request_io'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='794' u='r' c='pcmcia_setup_irq'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='838' u='r' c='pcmcia_request_window'/>
