<dec f='linux-5.3.1/include/pcmcia/ss.h' l='132' type='socket_state_t'/>
<offset>64</offset>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='255' u='m' c='socket_reset'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='256' u='a' c='socket_reset'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='259' u='m' c='socket_reset'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='260' u='a' c='socket_reset'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='300' u='w' c='socket_shutdown'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='302' u='a' c='socket_shutdown'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='373' u='m' c='socket_setup'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='373' u='m' c='socket_setup'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='375' u='m' c='socket_setup'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='375' u='m' c='socket_setup'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='384' u='m' c='socket_setup'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='385' u='a' c='socket_setup'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='460' u='w' c='socket_suspend'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='461' u='a' c='socket_suspend'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='473' u='w' c='socket_early_resume'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='475' u='a' c='socket_early_resume'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='598' u='w' c='pccardd'/>
<use f='linux-5.3.1/drivers/pcmcia/cs.c' l='600' u='a' c='pccardd'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_cis.c' l='160' u='m' c='pcmcia_do_loop_config'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='319' u='m' c='pcmcia_fixup_vpp'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='320' u='a' c='pcmcia_fixup_vpp'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='358' u='m' c='pcmcia_release_configuration'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='359' u='m' c='pcmcia_release_configuration'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='360' u='m' c='pcmcia_release_configuration'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='361' u='a' c='pcmcia_release_configuration'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='504' u='m' c='pcmcia_enable_device'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='505' u='a' c='pcmcia_enable_device'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='515' u='m' c='pcmcia_enable_device'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='517' u='m' c='pcmcia_enable_device'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='519' u='m' c='pcmcia_enable_device'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='526' u='m' c='pcmcia_enable_device'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='528' u='m' c='pcmcia_enable_device'/>
<use f='linux-5.3.1/drivers/pcmcia/pcmcia_resource.c' l='533' u='a' c='pcmcia_enable_device'/>
<use f='linux-5.3.1/drivers/pcmcia/socket_sysfs.c' l='53' u='m' c='pccard_show_voltage'/>
<use f='linux-5.3.1/drivers/pcmcia/socket_sysfs.c' l='54' u='m' c='pccard_show_voltage'/>
<use f='linux-5.3.1/drivers/pcmcia/socket_sysfs.c' l='55' u='m' c='pccard_show_voltage'/>
<use f='linux-5.3.1/drivers/pcmcia/socket_sysfs.c' l='66' u='m' c='pccard_show_vpp'/>
<use f='linux-5.3.1/drivers/pcmcia/socket_sysfs.c' l='66' u='m' c='pccard_show_vpp'/>
<use f='linux-5.3.1/drivers/pcmcia/socket_sysfs.c' l='76' u='m' c='pccard_show_vcc'/>
<use f='linux-5.3.1/drivers/pcmcia/socket_sysfs.c' l='76' u='m' c='pccard_show_vcc'/>
