<dec f='linux-5.3.1/include/linux/sunrpc/gss_api.h' l='83' type='u32'/>
<offset>64</offset>
<use f='linux-5.3.1/net/sunrpc/auth_gss/gss_mech_switch.c' l='264' u='r' c='gss_svc_to_pseudoflavor'/>
<use f='linux-5.3.1/net/sunrpc/auth_gss/gss_mech_switch.c' l='316' u='r' c='gss_mech_flavor2info'/>
<use f='linux-5.3.1/net/sunrpc/auth_gss/gss_mech_switch.c' l='333' u='r' c='gss_pseudoflavor_to_service'/>
<use f='linux-5.3.1/net/sunrpc/auth_gss/gss_mech_switch.c' l='357' u='r' c='gss_service_to_auth_domain_name'/>
