<dec f='linux-5.3.1/drivers/cpufreq/cpufreq_governor.h' l='80' type='struct cpufreq_policy *'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq_governor.c' l='102' u='r' c='gov_update_cpu_data'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq_governor.c' l='239' u='r' c='dbs_work_handler'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq_governor.c' l='276' u='r' c='dbs_update_util_handler'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq_governor.c' l='325' u='r' c='gov_set_update_util'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq_governor.c' l='360' u='w' c='alloc_policy_dbs_info'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq_governor.c' l='382' u='r' c='free_policy_dbs_info'/>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq_governor.c' l='547' u='r' c='cpufreq_dbs_governor_stop'/>
<offset>0</offset>
<use f='linux-5.3.1/drivers/cpufreq/cpufreq_ondemand.c' l='310' u='r' c='store_powersave_bias'/>
