<dec f='linux-5.3.1/include/uapi/linux/pps.h' l='139' type='int'/>
<offset>32</offset>
<doc f='linux-5.3.1/include/uapi/linux/pps.h' l='139'>/* selected event type */</doc>
<use f='linux-5.3.1/drivers/pps/pps.c' l='220' u='r' c='pps_cdev_ioctl'/>
<use f='linux-5.3.1/drivers/pps/pps.c' l='222' u='r' c='pps_cdev_ioctl'/>
<use f='linux-5.3.1/drivers/pps/pps.c' l='228' u='r' c='pps_cdev_ioctl'/>
<use f='linux-5.3.1/drivers/pps/pps.c' l='231' u='r' c='pps_cdev_ioctl'/>
