<dec f='linux-5.3.1/arch/x86/events/intel/pt.h' l='99' type='unsigned long'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='463' u='r' c='pt_config_filters'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='1239' u='w' c='pt_event_addr_filters_sync'/>
<use f='linux-5.3.1/arch/x86/events/intel/pt.c' l='1241' u='w' c='pt_event_addr_filters_sync'/>
<offset>128</offset>
