<dec f='linux-5.3.1/include/net/pkt_sched.h' l='71' type='struct hrtimer'/>
<offset>64</offset>
<use f='linux-5.3.1/net/sched/sch_api.c' l='597' u='r' c='qdisc_watchdog'/>
<use f='linux-5.3.1/net/sched/sch_api.c' l='609' u='a' c='qdisc_watchdog_init_clockid'/>
<use f='linux-5.3.1/net/sched/sch_api.c' l='610' u='m' c='qdisc_watchdog_init_clockid'/>
<use f='linux-5.3.1/net/sched/sch_api.c' l='631' u='a' c='qdisc_watchdog_schedule_ns'/>
<use f='linux-5.3.1/net/sched/sch_api.c' l='639' u='a' c='qdisc_watchdog_cancel'/>
