<dec f='linux-5.3.1/include/linux/sunrpc/xprt.h' l='233' type='struct timer_list'/>
<offset>8960</offset>
<use f='linux-5.3.1/net/sunrpc/xprt.c' l='755' u='a' c='xprt_schedule_autodisconnect'/>
<use f='linux-5.3.1/net/sunrpc/xprt.c' l='761' u='r' c='xprt_init_autodisconnect'/>
<use f='linux-5.3.1/net/sunrpc/xprt.c' l='1058' u='a' c='xprt_request_enqueue_receive'/>
<use f='linux-5.3.1/net/sunrpc/xprt.c' l='1897' u='a' c='xprt_create_transport'/>
<use f='linux-5.3.1/net/sunrpc/xprt.c' l='1899' u='a' c='xprt_create_transport'/>
<use f='linux-5.3.1/net/sunrpc/xprt.c' l='1950' u='a' c='xprt_destroy'/>
