<dec f='linux-5.3.1/include/linux/sunrpc/xprt.h' l='147' type='void (*)(struct rpc_xprt *, struct rpc_task *)'/>
<offset>832</offset>
<use f='linux-5.3.1/net/sunrpc/xprt.c' l='1135' u='r' c='xprt_timer'/>
<use f='linux-5.3.1/net/sunrpc/xprt.c' l='1136' u='r' c='xprt_timer'/>
<use f='linux-5.3.1/net/sunrpc/xprtsock.c' l='2759' u='w'/>
