<dec f='linux-5.3.1/include/linux/sunrpc/gss_api.h' l='42' type='u32'/>
<offset>320</offset>
<use f='linux-5.3.1/fs/nfs/nfs4xdr.c' l='5439' u='w' c='decode_secinfo_gss'/>
<use f='linux-5.3.1/net/sunrpc/auth_gss/gss_mech_switch.c' l='287' u='r' c='gss_mech_info2flavor'/>
<use f='linux-5.3.1/net/sunrpc/auth_gss/gss_mech_switch.c' l='316' u='w' c='gss_mech_flavor2info'/>
