<dec f='linux-5.3.1/include/net/rtnetlink.h' l='68' type='const struct nla_policy *'/>
<offset>384</offset>
<use f='linux-5.3.1/net/core/rtnetlink.c' l='3069' u='r' c='__rtnl_newlink'/>
<use f='linux-5.3.1/net/ipv6/sit.c' l='1778' u='w'/>
