<dec f='linux-5.3.1/include/linux/shmem_fs.h' l='22' type='struct shared_policy'/>
<offset>512</offset>
<doc f='linux-5.3.1/include/linux/shmem_fs.h' l='22'>/* NUMA memory alloc policy */</doc>
<use f='linux-5.3.1/mm/shmem.c' l='1426' u='a' c='shmem_pseudo_vma_init'/>
<use f='linux-5.3.1/mm/shmem.c' l='2149' u='a' c='shmem_set_policy'/>
<use f='linux-5.3.1/mm/shmem.c' l='2159' u='a' c='shmem_get_policy'/>
<use f='linux-5.3.1/mm/shmem.c' l='2255' u='a' c='shmem_get_inode'/>
<use f='linux-5.3.1/mm/shmem.c' l='2270' u='a' c='shmem_get_inode'/>
<use f='linux-5.3.1/mm/shmem.c' l='3646' u='a' c='shmem_destroy_inode'/>
