<dec f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.h' l='2222' type='struct net_device *'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='845' u='r' c='sky2_wol_init'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1116' u='r' c='tx_init'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1146' u='r' c='sky2_get_rx_threshold'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1158' u='r' c='sky2_get_rx_data_size'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1275' u='r' c='rx_set_checksum'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1336' u='r' c='sky2_rx_stop'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1444' u='r' c='sky2_rx_alloc'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1542' u='r' c='sky2_rx_start'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1542' u='r' c='sky2_rx_start'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1676' u='r' c='sky2_hw_up'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1704' u='r' c='sky2_hw_up'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1704' u='r' c='sky2_hw_up'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='1705' u='r' c='sky2_hw_up'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2002' u='r' c='sky2_tx_complete'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2189' u='r' c='sky2_link_up'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2197' u='r' c='sky2_link_up'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2216' u='r' c='sky2_link_down'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2221' u='r' c='sky2_link_down'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2243' u='r' c='sky2_autoneg_done'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2248' u='r' c='sky2_autoneg_done'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2310' u='r' c='sky2_phy_intr'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2465' u='r' c='receive_copy'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2673' u='r' c='sky2_rx_checksum'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='2679' u='r' c='sky2_rx_checksum'/>
<use f='linux-5.3.1/drivers/net/ethernet/marvell/sky2.c' l='4736' u='w' c='sky2_init_netdev'/>
<offset>64</offset>
