<dec f='linux-5.3.1/include/sound/timer.h' l='108' type='struct snd_timer_instance *'/>
<offset>1600</offset>
<use f='linux-5.3.1/sound/core/timer.c' l='186' u='w' c='snd_timer_check_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='217' u='w' c='snd_timer_check_master'/>
<use f='linux-5.3.1/sound/core/timer.c' l='375' u='w' c='snd_timer_close_locked'/>
<use f='linux-5.3.1/sound/core/timer.c' l='552' u='r' c='snd_timer_start_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='555' u='r' c='snd_timer_start_slave'/>
