<dec f='linux-5.3.1/include/sound/timer.h' l='83' type='struct snd_timer *'/>
<offset>0</offset>
<use f='linux-5.3.1/sound/core/seq/seq_timer.c' l='345' u='r' c='initialize_timer'/>
<use f='linux-5.3.1/sound/core/seq/seq_timer.c' l='473' u='r' c='snd_seq_info_timer_read'/>
<use f='linux-5.3.1/sound/core/timer.c' l='108' u='w' c='snd_timer_instance_new'/>
<use f='linux-5.3.1/sound/core/timer.c' l='179' u='r' c='snd_timer_check_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='180' u='r' c='snd_timer_check_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='184' u='r' c='snd_timer_check_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='187' u='w' c='snd_timer_check_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='187' u='r' c='snd_timer_check_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='210' u='r' c='snd_timer_check_master'/>
<use f='linux-5.3.1/sound/core/timer.c' l='211' u='r' c='snd_timer_check_master'/>
<use f='linux-5.3.1/sound/core/timer.c' l='214' u='r' c='snd_timer_check_master'/>
<use f='linux-5.3.1/sound/core/timer.c' l='216' u='r' c='snd_timer_check_master'/>
<use f='linux-5.3.1/sound/core/timer.c' l='218' u='w' c='snd_timer_check_master'/>
<use f='linux-5.3.1/sound/core/timer.c' l='218' u='r' c='snd_timer_check_master'/>
<use f='linux-5.3.1/sound/core/timer.c' l='222' u='r' c='snd_timer_check_master'/>
<use f='linux-5.3.1/sound/core/timer.c' l='343' u='r' c='snd_timer_close_locked'/>
<use f='linux-5.3.1/sound/core/timer.c' l='376' u='w' c='snd_timer_close_locked'/>
<use f='linux-5.3.1/sound/core/timer.c' l='438' u='r' c='snd_timer_resolution'/>
<use f='linux-5.3.1/sound/core/timer.c' l='450' u='r' c='snd_timer_notify1'/>
<use f='linux-5.3.1/sound/core/timer.c' l='487' u='r' c='snd_timer_start1'/>
<use f='linux-5.3.1/sound/core/timer.c' l='552' u='r' c='snd_timer_start_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='553' u='r' c='snd_timer_start_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='558' u='r' c='snd_timer_start_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='573' u='r' c='snd_timer_stop1'/>
<use f='linux-5.3.1/sound/core/timer.c' l='625' u='r' c='snd_timer_stop_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='626' u='r' c='snd_timer_stop_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='631' u='r' c='snd_timer_stop_slave'/>
<use f='linux-5.3.1/sound/core/timer.c' l='951' u='w' c='snd_timer_free'/>
<use f='linux-5.3.1/sound/core/timer.c' l='1744' u='r' c='snd_timer_user_info'/>
<use f='linux-5.3.1/sound/core/timer.c' l='1774' u='r' c='snd_timer_user_params'/>
<use f='linux-5.3.1/sound/core/timer_compat.c' l='57' u='r' c='snd_timer_user_info_compat'/>
