<dec f='linux-5.3.1/sound/core/seq/seq_queue.h' l='27' type='struct snd_seq_timer *'/>
<offset>704</offset>
<doc f='linux-5.3.1/sound/core/seq/seq_queue.h' l='27'>/* time keeper for this queue */</doc>
<use f='linux-5.3.1/sound/core/seq/seq_clientmgr.c' l='583' u='r' c='update_timestamp_of_queue'/>
<use f='linux-5.3.1/sound/core/seq/seq_clientmgr.c' l='586' u='r' c='update_timestamp_of_queue'/>
<use f='linux-5.3.1/sound/core/seq/seq_clientmgr.c' l='1659' u='r' c='snd_seq_ioctl_get_queue_status'/>
<use f='linux-5.3.1/sound/core/seq/seq_clientmgr.c' l='1688' u='r' c='snd_seq_ioctl_get_queue_tempo'/>
<use f='linux-5.3.1/sound/core/seq/seq_clientmgr.c' l='1733' u='r' c='snd_seq_ioctl_get_queue_timer'/>
<use f='linux-5.3.1/sound/core/seq/seq_clientmgr.c' l='1767' u='r' c='snd_seq_ioctl_set_queue_timer'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='112' u='w' c='queue_new'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='113' u='r' c='queue_new'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='116' u='a' c='queue_new'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='133' u='r' c='queue_delete'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='141' u='a' c='queue_delete'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='259' u='r' c='snd_seq_check_queue'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='267' u='r' c='snd_seq_check_queue'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='301' u='r' c='snd_seq_enqueue_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='306' u='r' c='snd_seq_enqueue_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='428' u='r' c='snd_seq_queue_timer_open'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='467' u='r' c='snd_seq_queue_timer_set_tempo'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='469' u='r' c='snd_seq_queue_timer_set_tempo'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='488' u='r' c='queue_use'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='551' u='r' c='snd_seq_queue_client_termination'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='552' u='r' c='snd_seq_queue_client_termination'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='553' u='r' c='snd_seq_queue_client_termination'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='640' u='r' c='queue_broadcast_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='663' u='r' c='snd_seq_queue_process_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='668' u='r' c='snd_seq_queue_process_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='673' u='r' c='snd_seq_queue_process_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='678' u='r' c='snd_seq_queue_process_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='683' u='r' c='snd_seq_queue_process_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='689' u='r' c='snd_seq_queue_process_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='694' u='r' c='snd_seq_queue_process_event'/>
<use f='linux-5.3.1/sound/core/seq/seq_queue.c' l='747' u='r' c='snd_seq_info_queues_read'/>
<use f='linux-5.3.1/sound/core/seq/seq_timer.c' l='130' u='r' c='snd_seq_timer_interrupt'/>
<use f='linux-5.3.1/sound/core/seq/seq_timer.c' l='265' u='r' c='snd_seq_timer_open'/>
<use f='linux-5.3.1/sound/core/seq/seq_timer.c' l='306' u='r' c='snd_seq_timer_close'/>
<use f='linux-5.3.1/sound/core/seq/seq_timer.c' l='468' u='r' c='snd_seq_info_timer_read'/>
