<dec f='linux-5.3.1/include/net/sock.h' l='1354' type='struct socket'/>
<use f='linux-5.3.1/include/net/sock.h' l='1360' u='a' c='SOCKET_I'/>
<use f='linux-5.3.1/include/net/sock.h' l='1365' u='r' c='SOCK_INODE'/>
<offset>0</offset>
<use f='linux-5.3.1/net/socket.c' l='242' u='m' c='sock_alloc_inode'/>
<use f='linux-5.3.1/net/socket.c' l='243' u='m' c='sock_alloc_inode'/>
<use f='linux-5.3.1/net/socket.c' l='244' u='m' c='sock_alloc_inode'/>
<use f='linux-5.3.1/net/socket.c' l='246' u='m' c='sock_alloc_inode'/>
<use f='linux-5.3.1/net/socket.c' l='247' u='m' c='sock_alloc_inode'/>
<use f='linux-5.3.1/net/socket.c' l='248' u='m' c='sock_alloc_inode'/>
<use f='linux-5.3.1/net/socket.c' l='249' u='m' c='sock_alloc_inode'/>
<use f='linux-5.3.1/net/socket.c' l='250' u='m' c='sock_alloc_inode'/>
