<dec f='linux-5.3.1/include/linux/sched.h' l='712' type='unsigned int'/>
<use f='linux-5.3.1/include/linux/sched/rt.h' l='23' u='r' c='task_is_realtime'/>
<use f='linux-5.3.1/include/linux/ioprio.h' l='65' u='r' c='task_nice_ioclass'/>
<offset>6816</offset>
<use f='linux-5.3.1/fs/proc/array.c' l='596' u='r' c='do_task_stat'/>
<use f='linux-5.3.1/init/init_task.c' l='74' u='w'/>
<use f='linux-5.3.1/kernel/sched/sched.h' l='177' u='r' c='task_has_idle_policy'/>
<use f='linux-5.3.1/kernel/sched/sched.h' l='182' u='r' c='task_has_rt_policy'/>
<use f='linux-5.3.1/kernel/sched/sched.h' l='187' u='r' c='task_has_dl_policy'/>
<use f='linux-5.3.1/kernel/sched/core.c' l='2744' u='w' c='sched_fork'/>
<use f='linux-5.3.1/kernel/sched/core.c' l='4489' u='r' c='__setscheduler_params'/>
<use f='linux-5.3.1/kernel/sched/core.c' l='4491' u='w' c='__setscheduler_params'/>
<use f='linux-5.3.1/kernel/sched/core.c' l='4573' u='r' c='__sched_setscheduler'/>
<use f='linux-5.3.1/kernel/sched/core.c' l='4611' u='r' c='__sched_setscheduler'/>
<use f='linux-5.3.1/kernel/sched/core.c' l='4685' u='r' c='__sched_setscheduler'/>
<use f='linux-5.3.1/kernel/sched/core.c' l='4734' u='r' c='__sched_setscheduler'/>
<use f='linux-5.3.1/kernel/sched/core.c' l='5058' u='r' c='__do_sys_sched_getscheduler'/>
<use f='linux-5.3.1/kernel/sched/core.c' l='5175' u='r' c='__do_sys_sched_getattr'/>
<use f='linux-5.3.1/kernel/sched/fair.c' l='6755' u='r' c='check_preempt_wakeup'/>
<use f='linux-5.3.1/kernel/sched/fair.c' l='6966' u='r' c='yield_task_fair'/>
<use f='linux-5.3.1/kernel/sched/idle.c' l='322' u='r' c='play_idle'/>
<use f='linux-5.3.1/kernel/sched/rt.c' l='1177' u='r' c='rt_se_rr_nr_running'/>
<use f='linux-5.3.1/kernel/sched/rt.c' l='2336' u='r' c='task_tick_rt'/>
<use f='linux-5.3.1/kernel/sched/rt.c' l='2367' u='r' c='get_rr_interval_rt'/>
<use f='linux-5.3.1/kernel/tsacct.c' l='50' u='r' c='bacct_add_tsk'/>
