<dec f='linux-5.3.1/drivers/thermal/thermal_core.h' l='47' type='unsigned long'/>
<use f='linux-5.3.1/drivers/thermal/step_wise.c' l='50' u='r' c='get_target_state'/>
<use f='linux-5.3.1/drivers/thermal/step_wise.c' l='149' u='r' c='thermal_zone_trip_update'/>
<use f='linux-5.3.1/drivers/thermal/step_wise.c' l='150' u='w' c='thermal_zone_trip_update'/>
<use f='linux-5.3.1/drivers/thermal/step_wise.c' l='152' u='r' c='thermal_zone_trip_update'/>
<use f='linux-5.3.1/drivers/thermal/step_wise.c' l='154' u='r' c='thermal_zone_trip_update'/>
<use f='linux-5.3.1/drivers/thermal/step_wise.c' l='159' u='r' c='thermal_zone_trip_update'/>
<use f='linux-5.3.1/drivers/thermal/step_wise.c' l='163' u='r' c='thermal_zone_trip_update'/>
<offset>512</offset>
<doc f='linux-5.3.1/drivers/thermal/thermal_core.h' l='47'>/* expected cooling state */</doc>
<use f='linux-5.3.1/drivers/thermal/thermal_core.c' l='603' u='w' c='power_actor_set_power'/>
<use f='linux-5.3.1/drivers/thermal/thermal_core.c' l='728' u='w' c='thermal_zone_bind_cooling_device'/>
<use f='linux-5.3.1/drivers/thermal/thermal_helpers.c' l='181' u='r' c='thermal_cdev_update'/>
<use f='linux-5.3.1/drivers/thermal/thermal_helpers.c' l='182' u='r' c='thermal_cdev_update'/>
<use f='linux-5.3.1/drivers/thermal/thermal_helpers.c' l='184' u='r' c='thermal_cdev_update'/>
<use f='linux-5.3.1/drivers/thermal/thermal_helpers.c' l='185' u='r' c='thermal_cdev_update'/>
