<dec f='linux-5.3.1/include/linux/serial_8250.h' l='94' type='struct timer_list'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='260' u='r' c='serial8250_timeout'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='263' u='a' c='serial8250_timeout'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='268' u='r' c='serial8250_backup_timeout'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='309' u='a' c='serial8250_backup_timeout'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='325' u='m' c='univ8250_setup_irq'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='326' u='a' c='univ8250_setup_irq'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='336' u='a' c='univ8250_setup_irq'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='347' u='a' c='univ8250_release_irq'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='348' u='m' c='univ8250_release_irq'/>
<use f='linux-5.3.1/drivers/tty/serial/8250/8250_core.c' l='519' u='a' c='serial8250_isa_init_ports'/>
<offset>3712</offset>
<doc f='linux-5.3.1/include/linux/serial_8250.h' l='94'>/* &quot;no irq&quot; timer */</doc>
