<dec f='linux-5.3.1/arch/x86/include/asm/microcode.h' l='10' type='struct list_head'/>
<offset>0</offset>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='596' u='r' c='cache_find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='596' u='a' c='cache_find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='596' u='m' c='cache_find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='596' u='m' c='cache_find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='596' u='r' c='cache_find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='596' u='m' c='cache_find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='606' u='r' c='update_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='606' u='a' c='update_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='606' u='m' c='update_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='606' u='m' c='update_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='606' u='r' c='update_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='606' u='m' c='update_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='615' u='a' c='update_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='615' u='a' c='update_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='622' u='a' c='update_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='r' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='m' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='m' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='r' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='m' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='a' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='m' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='m' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='r' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='629' u='m' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='630' u='m' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='630' u='m' c='free_cache'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/amd.c' l='790' u='a' c='verify_and_add_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='r' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='m' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='m' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='r' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='m' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='a' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='m' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='m' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='r' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='176' u='m' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='191' u='a' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='191' u='a' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='207' u='a' c='save_microcode_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='r' c='find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='m' c='find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='m' c='find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='r' c='find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='m' c='find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='a' c='find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='m' c='find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='m' c='find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='r' c='find_patch'/>
<use f='linux-5.3.1/arch/x86/kernel/cpu/microcode/intel.c' l='729' u='m' c='find_patch'/>
