<dec f='linux-5.3.1/include/linux/usb/hcd.h' l='564' type='unsigned int'/>
<offset>128</offset>
<use f='linux-5.3.1/drivers/usb/core/hub.c' l='791' u='r' c='hub_tt_work'/>
<use f='linux-5.3.1/drivers/usb/core/hub.c' l='795' u='r' c='hub_tt_work'/>
<use f='linux-5.3.1/drivers/usb/core/hub.c' l='874' u='w' c='usb_hub_clear_tt_buffer'/>
