<dec f='linux-5.3.1/include/linux/virtio.h' l='116' type='const struct virtio_config_ops *'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='184' u='r' c='virtio_find_single_vq'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='197' u='r' c='virtio_find_vqs'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='206' u='r' c='virtio_find_vqs_ctx'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='221' u='r' c='virtio_device_ready'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='224' u='r' c='virtio_device_ready'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='230' u='r' c='virtio_bus_name'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='232' u='r' c='virtio_bus_name'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='248' u='r' c='virtqueue_set_affinity'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='249' u='r' c='virtqueue_set_affinity'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='359' u='r' c='__virtio_cread_many'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='360' u='r' c='__virtio_cread_many'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='368' u='r' c='__virtio_cread_many'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='371' u='r' c='__virtio_cread_many'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='372' u='r' c='__virtio_cread_many'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='388' u='r' c='virtio_cread8'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='396' u='r' c='virtio_cwrite8'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='405' u='r' c='virtio_cread16'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='414' u='r' c='virtio_cwrite16'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='423' u='r' c='virtio_cread32'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='432' u='r' c='virtio_cwrite32'/>
<use f='linux-5.3.1/include/linux/virtio_config.h' l='448' u='r' c='virtio_cwrite64'/>
<offset>5888</offset>
