<dec f='linux-5.3.1/include/linux/vmalloc.h' l='62' type='struct vm_struct *'/>
<offset>640</offset>
<use f='linux-5.3.1/mm/vmalloc.c' l='1924' u='w' c='vmalloc_init'/>
<use f='linux-5.3.1/mm/vmalloc.c' l='2018' u='w' c='setup_vmalloc_vm'/>
<use f='linux-5.3.1/mm/vmalloc.c' l='2125' u='r' c='find_vm_area'/>
<use f='linux-5.3.1/mm/vmalloc.c' l='2148' u='r' c='remove_vm_area'/>
<use f='linux-5.3.1/mm/vmalloc.c' l='2151' u='w' c='remove_vm_area'/>
<use f='linux-5.3.1/mm/vmalloc.c' l='2857' u='r' c='vread'/>
<use f='linux-5.3.1/mm/vmalloc.c' l='2937' u='r' c='vwrite'/>
<use f='linux-5.3.1/mm/vmalloc.c' l='3473' u='r' c='s_show'/>
