<dec f='linux-5.3.1/include/linux/pm_wakeup.h' l='46' type='struct timer_list'/>
<offset>320</offset>
<use f='linux-5.3.1/drivers/base/power/wakeup.c' l='167' u='a' c='wakeup_source_add'/>
<use f='linux-5.3.1/drivers/base/power/wakeup.c' l='192' u='a' c='wakeup_source_remove'/>
<use f='linux-5.3.1/drivers/base/power/wakeup.c' l='197' u='m' c='wakeup_source_remove'/>
<use f='linux-5.3.1/drivers/base/power/wakeup.c' l='473' u='m' c='wakeup_source_not_registered'/>
<use f='linux-5.3.1/drivers/base/power/wakeup.c' l='567' u='a' c='__pm_stay_awake'/>
<use f='linux-5.3.1/drivers/base/power/wakeup.c' l='647' u='a' c='wakeup_source_deactivate'/>
<use f='linux-5.3.1/drivers/base/power/wakeup.c' l='717' u='r' c='pm_wakeup_timer_fn'/>
<use f='linux-5.3.1/drivers/base/power/wakeup.c' l='766' u='a' c='pm_wakeup_ws_event'/>
