<dec f='linux-5.3.1/include/net/cfg80211.h' l='4201' type='const struct nla_policy *'/>
<offset>256</offset>
<use f='linux-5.3.1/net/wireless/core.c' l='868' u='r' c='wiphy_register'/>
<use f='linux-5.3.1/net/wireless/nl80211.c' l='12695' u='r' c='nl80211_vendor_check_policy'/>
<use f='linux-5.3.1/net/wireless/nl80211.c' l='12710' u='r' c='nl80211_vendor_check_policy'/>
