<dec f='linux-5.3.1/include/uapi/linux/xfrm.h' l='438' type='struct xfrm_userpolicy_info'/>
<offset>768</offset>
<use f='linux-5.3.1/net/xfrm/xfrm_user.c' l='2275' u='a' c='xfrm_add_acquire'/>
<use f='linux-5.3.1/net/xfrm/xfrm_user.c' l='2280' u='a' c='xfrm_add_acquire'/>
<use f='linux-5.3.1/net/xfrm/xfrm_user.c' l='2934' u='a' c='build_acquire'/>
