<dec f='linux-5.3.1/include/uapi/linux/netfilter/x_tables.h' l='66' type='struct xt_entry_target'/>
<offset>0</offset>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='38' macro='1' u='w' c='ipt_alloc_initial_table'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='38' macro='1' u='w' c='ipt_alloc_initial_table'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='398' u='m' c='mark_source_chains'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='428' u='m' c='mark_source_chains'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='42' macro='1' u='w' c='ip6t_alloc_initial_table'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='42' macro='1' u='w' c='ip6t_alloc_initial_table'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='416' u='m' c='mark_source_chains'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='446' u='m' c='mark_source_chains'/>
