<dec f='linux-5.3.1/include/linux/netfilter/x_tables.h' l='137' type='const struct xt_target *'/>
<offset>64</offset>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='649' u='w' c='cleanup_entry'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='652' u='r' c='cleanup_entry'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='653' u='r' c='cleanup_entry'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='654' u='r' c='cleanup_entry'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='666' u='w' c='cleanup_entry'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='669' u='r' c='cleanup_entry'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='670' u='r' c='cleanup_entry'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='671' u='r' c='cleanup_entry'/>
