<dec f='linux-5.3.1/include/linux/netfilter/x_tables.h' l='191' type='unsigned int (*)(struct sk_buff *, const struct xt_action_param *)'/>
<offset>384</offset>
<doc f='linux-5.3.1/include/linux/netfilter/x_tables.h' l='188'>/* Returns verdict. Argument order changed since 2.6.9, as this
	   must now handle non-linear skbs, using skb_copy_bits and
	   skb_ip_make_writable. */</doc>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='311' u='r' c='ipt_do_table'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='346' u='r' c='ipt_do_table'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='1867' u='w'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ip_tables.c' l='1867' u='w'/>
<use f='linux-5.3.1/net/ipv4/netfilter/ipt_REJECT.c' l='90' u='w'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='334' u='r' c='ip6t_do_table'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='367' u='r' c='ip6t_do_table'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='1878' u='w'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6_tables.c' l='1878' u='w'/>
<use f='linux-5.3.1/net/ipv6/netfilter/ip6t_REJECT.c' l='101' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_CONNSECMARK.c' l='123' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_LOG.c' l='73' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_LOG.c' l='83' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_LOG.c' l='73' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_LOG.c' l='83' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_MASQUERADE.c' l='77' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_MASQUERADE.c' l='88' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_MASQUERADE.c' l='77' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_MASQUERADE.c' l='88' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_NFLOG.c' l='65' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_SECMARK.c' l='127' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_TCPMSS.c' l='316' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_TCPMSS.c' l='326' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_TCPMSS.c' l='316' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_TCPMSS.c' l='326' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_mark.c' l='46' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='156' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='169' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='182' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='194' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='206' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='218' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='156' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='169' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='182' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='194' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='206' u='w'/>
<use f='linux-5.3.1/net/netfilter/xt_nat.c' l='218' u='w'/>
