<dec f='linux-5.3.1/drivers/pcmcia/yenta_socket.h' l='120' type='struct pcmcia_socket'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='214' u='r' c='yenta_get_status'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='331' u='r' c='yenta_set_socket'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='406' u='r' c='yenta_set_io_map'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='443' u='r' c='yenta_set_mem_map'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='534' u='a' c='yenta_interrupt'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='555' u='a' c='yenta_clear_maps'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='558' u='a' c='yenta_clear_maps'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='562' u='a' c='yenta_clear_maps'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='581' u='r' c='yenta_sock_init'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='602' u='r' c='yenta_sock_suspend'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='795' u='a' c='yenta_close'/>
<use f='linux-5.3.1/drivers/pcmcia/ti113x.h' l='207' u='r' c='ti_zoom_video'/>
<use f='linux-5.3.1/drivers/pcmcia/ti113x.h' l='231' u='r' c='ti1250_zoom_video'/>
<use f='linux-5.3.1/drivers/pcmcia/ti113x.h' l='270' u='m' c='ti_set_zv'/>
<use f='linux-5.3.1/drivers/pcmcia/ti113x.h' l='276' u='m' c='ti_set_zv'/>
<use f='linux-5.3.1/drivers/pcmcia/ti113x.h' l='726' u='a' c='ti12xx_2nd_slot_empty'/>
<use f='linux-5.3.1/drivers/pcmcia/ti113x.h' l='746' u='r' c='ti12xx_power_hook'/>
<use f='linux-5.3.1/drivers/pcmcia/ti113x.h' l='877' u='m' c='ti12xx_override'/>
<use f='linux-5.3.1/drivers/pcmcia/ti113x.h' l='938' u='r' c='ene_tune_bridge'/>
<use f='linux-5.3.1/drivers/pcmcia/ti113x.h' l='969' u='m' c='ene_override'/>
<use f='linux-5.3.1/drivers/pcmcia/ricoh.h' l='137' u='r' c='ricoh_zoom_video'/>
<use f='linux-5.3.1/drivers/pcmcia/ricoh.h' l='157' u='m' c='ricoh_set_zv'/>
<use f='linux-5.3.1/drivers/pcmcia/topic.h' l='112' u='r' c='topic97_zoom_video'/>
<use f='linux-5.3.1/drivers/pcmcia/topic.h' l='136' u='m' c='topic97_override'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1017' u='m' c='yenta_get_socket_capabilities'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1019' u='m' c='yenta_get_socket_capabilities'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1021' u='m' c='yenta_get_socket_capabilities'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1024' u='m' c='yenta_get_socket_capabilities'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1165' u='m' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1166' u='m' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1167' u='m' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1168' u='m' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1169' u='m' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1170' u='m' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1171' u='m' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1172' u='m' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1245' u='m' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1257' u='a' c='yenta_probe'/>
<use f='linux-5.3.1/drivers/pcmcia/yenta_socket.c' l='1270' u='a' c='yenta_probe'/>
<offset>512</offset>
