<dec f='libc2.31/nss/nsswitch.c' l='887' type='void free_defconfig()'/>
<use f='libc2.31/nss/nsswitch.c' l='887' u='a'/>
<def f='libc2.31/nss/nsswitch.c' l='887' ll='899' macro='1' type='void free_defconfig()'/>
